[2018-05-30 13:43] Soullivaneuh commented on #834
@kunicmarko20 Here is the bad guy: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/0816de9dca5a0d0127089c387959022dc937c74e

[2018-05-30 13:52] Soullivaneuh commented on #834
@eugenekurasov Have you, or anybody an idea of what was broken on this commit?

If not, I would suggest a revert.

[2018-05-30 13:55] eugenekurasov commented on #834
Hi, @Soullivaneuh yes I found problem with CountWalker (https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Tools/Pagination/CountWalker.php#L49).
I going to fix (revert) this bug at the end of week.

[2018-05-31 21:14] eugenekurasov commented on #834
@Soullivaneuh I have checkout 3.5.1 and 3.5.0 but test is still failed

Here is my test (https://gist.github.com/eugenekurasov/c86c6e783facabf6a28b8341e9623937)

@ostbender can you say me last branch where is composite key is work?

[2018-06-04 08:29] #826 closed

[2018-06-07 14:50] sashaaro opened #838 "ModelAutocompleteType don't work with Doctrine CallbackFilter"
### Environment
[code]
#### Sonata packages
[code]

#### Symfony packages
[code]

#### PHP version
[code]

## Subject
**Sonata\AdminBundle\Form\Type\ModelAutocompleteType** not work correct with filter **Sonata\DoctrineORMAdminBundle\Filter\CallbackFilter**
I want Autocomplete filter of releted entity filed. In my exmaple. Teacher's name autocomplete and then search student by reletion.
My conclus

[2018-06-08 11:52] romainneutron commented on #759
It does not work in all case. At least it does not work with Postgresql 9.2

[2018-06-11 10:06] JayPe69 opened #840 "base_array_macro.html - render_array - Datetime toString Exception"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject
When rendering an array in show and list view, I got an error saying that it's impossible to convert a datetime to string

## Steps to reproduce
Use Gedmo Loggable bundle, and modify a datetime field.
Gedmo will log this change and will save it as is for example :

`a:2:{s:8:"birthday

[2018-06-11 11:02] greg0ire commented on #840
Can you please make a PR?

[2018-06-11 11:17] JayPe69 commented on #840
It seems to be "complicated" looking after the guidelines.
I don't have time for now, I'll try when I'll have a bit more time.

[2018-06-13 15:01] braianj commented on #334
+1

[2018-06-13 15:04] kunicmarko20 commented on #334
+1

[2018-06-13 15:06] kunicmarko20 commented on #334
@braianj @Nadrshin @ruscon @mCzolko @baptistedonaux instead of writing +1 what about providing a PR.

[2018-06-13 15:09] braianj commented on #334
I have no idea how to do it, I'm new with sonata and got a lot of problems at the moment that I'm trying to solve. Make a +1 to get alive this issue. Thanks anyway

[2018-06-13 15:28] greg0ire commented on #334
@braianj on one hand, don't do that please, but on the other hand: https://stackoverflow.com/questions/16247684/apply-custom-doctrine-output-walker-by-default-to-all-queries

[2018-06-18 13:44] aphex008 commented on #834
+1

[2018-06-22 14:52] oleg-andreyev opened #842 "Breadcrumbs and binary string"
### Environment
Linux
#### Sonata packages
[code]

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Related to #547
Using UUID as PK and for InnoDB optimization we're storing it in BINARY, and when doing edit we see binary string in breadcrumbs

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Model/ModelManager.php#L343

As workaround for thi

[2018-06-26 13:04] Soullivaneuh commented on #834
@eugenekurasov Works great on 3.5.1, I found the commit with git bisect, the issue come from here for sure.

Here is my entity:

[code]

And the admin:

[code]

[2018-06-26 13:29] Soullivaneuh commented on #455
Was fixed and broken again. See #834

You can stuck at v3.5 for now.

[2018-06-26 13:29] #455 closed

[2018-06-26 13:33] eugenekurasov commented on #834
@Soullivaneuh thanks, I will continue investigating.

[2018-06-28 12:56] eugenekurasov commented on #834
@Soullivaneuh I have tested old version. And you was right "no exception", but query is wrong
http://prntscr.com/k0dx46 - here is ouptut
Here is my entity.

[code]
Here is sql http://prntscr.com/k0dxv7

You can see that use only one of primary key.

[2018-06-28 20:28] eugenekurasov commented on #834
@Soullivaneuh I can back use only one of primary keys or I can continue investigate. What your choice?

[2018-07-18 09:54] georgie123 commented on #50
Hello

Just adding this in my Admin class controller, under my **configureFormFields** function, has solved:

`<?php
public function preUpdate($object)
    {
        foreach ($object->getAddress() as $address) {
            $address->setCustomer($object);
        }
    }`

Where **getAddress** is my collection from my Customer entity.

Thanks **andrewtch**!

[2018-07-23 10:47] y2keeper commented on #160
If it helps - you can now simply set multiple to true as pointed out here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/164#issuecomment-42845727

[2018-08-23 05:00] zulus commented on #834
still not working

[2018-08-23 05:01] kunicmarko20 commented on #834
+1

[2018-08-28 21:21] Warxcell opened #846 "Symfony 3.4: Services are private by default and ACLs"
sonata-project/admin-bundle: 3.38.3
sonata-project/doctrine-orm-admin-bundle 3.6.1

Today I setup ACLs for Objects, then I ran command:

`bin/console sonata:admin:generate-object-acl` to generate ACLs for objects so far.

But I got bunch of
`Admin class is using a manager type that has no manipulator implemented : ignoring`.

When I make `<service id="sonata.admin.manipulator.acl.object.orm" class

[2018-08-28 21:28] Warxcell commented on #846
I guess the easiest way is to make service public.

[2018-08-29 04:08] kunicmarko20 commented on #846
@warxcell can you provide a PR, please?

[2018-08-30 11:38] franckentien opened #848 "No metadata found for property in production"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I got an error when i deploy my website on production.
I recently deployed my web site and i got an error with app.php but not with app_dev.php

## Steps to reproduce

Connect to admin bundle and click on list of sonata bundle (Classification, User. Blog ...)

## Expected results

Th

[2018-10-25 08:35] #846 closed

[2018-10-26 09:54] warslett commented on #834
I upgraded to get this fix and now I'm getting a new error which I think is related to the fix: `[Semantical Error] line 0, col 31 near 'brand,'-',o.user))': Error: Invalid PathExpression. Must be a StateFieldPathExpression.`

Stack trace:
in vendor/doctrine/orm/lib/Doctrine/ORM/Query/QueryException.php (line 65)
in vendor/doctrine/orm/lib/Doctrine/ORM/Query/Parser.php::semanticalError (line 491)

[2018-11-27 13:08] torreytsui commented on #200
@core23 Do you think this can be an acceptable approach? If we are happy with it, I can create a PR with a proper solution.

[code]

[code]

[2018-11-28 06:38] core23 commented on #200
So, you need a special factory for every entity class? I'm not sure if this is a good solution.

You could use data mappers for entity creation: https://sonata-project.org/bundles/admin/3-x/doc/cookbook/recipe_data_mapper.html
The sensio labs team is also working on a general solution: https://github.com/sensiolabs-de/rich-model-forms-bundle

[2018-12-06 14:39] stefanides opened #866 "Logical bug in ModelManager::getIdentifierValues()"
### Environment

#### Sonata packages

[code]
Same code is present in the recent master (https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/src/Model/ModelManager.php), so above versions are not important for the report.

#### Symfony packages

[code]

#### PHP version

[code]
## Subject

Hello,

for few hours I am already facing the strange behaviour when using composite p

[2018-12-18 14:08] checcoux opened #873 "Filtering a "false" element in dasboard returns empty set"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Working with filters in the admin dasboard. I have a boolean value that is displayed correctly with a "yes" or "no" value in the list. If I create a filter with all of the "yes" values it works, while if I do the same but i filter with "no" values, it returns an empty set.

## Steps

[2018-12-18 14:41] lukepass commented on #873
Is your `autorizzato` field a Doctrine mapped field? For me it's working fine:

![image](https://user-images.githubusercontent.com/6429961/50161127-30b87880-02db-11e9-9c5f-af478b702815.png)

    protected function configureDatagridFilters(DatagridMapper $datagridMapper)
    {
        $datagridMapper
            ->add('name')
            ->add('phone')
            ->add('default')
        ;
    }

[2018-12-18 18:37] OskarStark commented on #873
Are you sure it is false and not “null” ?

[2018-12-26 21:27] Baltazar5000 opened #878 "Symfony 4.2 Sonata\Form\Type\CollectionType does not show collections"
Hello.

[code]

[code]

[code]

_Sonata\Form\Type\CollectionType_ does not show collections (div class="tab-content" is empty).

_Sonata\CoreBundle\Form\Type\CollectionType_ - is **deprecated** and works well.

[code]

[2018-12-29 22:25] #878 closed, assigned to nobody

[2019-01-03 14:43] Soullivaneuh commented on #834
Bug confirmed.

@kunicmarko20 Do you have any idea?

[2019-01-03 14:45] kunicmarko20 commented on #834
No idea, and I don't have time to work on this if you want revert #844 and #827

[2019-01-03 14:49] eugenekurasov commented on #834
Is bug reproduce on old version 3.5.1?

[2019-01-03 15:23] Soullivaneuh commented on #834
No. I come from that version. :-)

[2019-01-04 09:15] eugenekurasov commented on #834
@Soullivaneuh Hm, I will investigate and fix issue.

[2019-01-08 11:38] eugenekurasov commented on #834
Here is use concat for primary keys, and this is problem: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.7.0/src/Datagrid/Pager.php#L93

In version 3.5.1 https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.5.1/src/Datagrid/Pager.php#L42 use only *one* key for distinct count.

I continue investigate how fix this issue with count of entities with composite ke

[2019-01-14 14:40] c0ntax opened #886 "Sortable support for subClasses in list view"
## Feature Request

Not sure if this is a bug or a missing feature, but...

If you have a list of an entity that has been configured with subClasses, you cannot use any of the subClasses properties to sort on in the list view.

E.g.

Entity A
+ id
+ prop1

Entity B extends Entity A
+ prop2

if you add both prop1 and prop2 to the list view, prop1 is sortable but prop2 is not.

The reason for this i

[2019-01-14 15:08] c0ntax commented on #886
Hmm... I can now see what this hasn't been implemented! It opened up all kinds of mayhem.

[2019-01-24 07:41] #834 closed

[2019-02-06 14:57] ossinkine opened #899 "Using deprecated core form types"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Some classes (filters and guessers) still use deprecated form types from CoreBundle.

## Steps to reproduce

Start using SonataAdminBundle with SonataDoctrineORMAdminBundle and you will get deprecation messages.

## Expected results

No deprecation messages.

## Actual results

I got

[2019-02-06 16:47] core23 commented on #899
Feel free to fix this

[2019-02-15 15:01] ejkun opened #900 "Type error: trim() expects parameter 1 to be string, null given - String Filter"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

First of all, I know I'm using a old Symfony version, but upgrading this project right now is complicated. I overrided a lot of files but I can't find out why this is happening.

The StringFilter is receiving null instead of a string. I haven't managed to debug it yet, to find out wh

[2019-02-16 11:04] greg0ire commented on #900
Please open a PR. We recently changed to `strict_types`, and that introduced a lot of these bugs (but allowed us to detect other, nastier bugs).

[2019-02-20 08:47] vytsci commented on #501
Sonata works in so retarded way, that it fetched all fields from entity executing all lazy loads and my simple admin with few joins ends up in a 35k queries.

[2019-02-20 09:28] vytsci commented on #584
I have a table that joins with other huge table, but that table has EXTRA_LAZY and is not used anywhere on admin. My admin page ends up with 3k queries rather than 6 and all the credit goes to filters. People be careful with filters.

[2019-02-20 09:39] Soullivaneuh commented on #501
Feel free to contribute and make it less retarded. :+1:

[2019-02-20 09:42] vytsci commented on #501
Yes I will when the right time comes, Im not confident enough to make it better, but I see problems that`s the start. But I have a list of extensions Ive made, I will refine them properly and make a PR.

[2019-02-20 09:51] icedevelopment commented on #501
@Soullivaneuh While you are here, what are your thoughts regarding @greg0ire 's post on this issue? (see https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/501#issuecomment-158103483)

[2019-02-20 14:10] rande commented on #501
@vytsci there is no magic; if you need to display related information; you need to fetch them; either in the main query or let the ORM do what it can. Tools are not here to remove laziness.

[2019-02-20 19:47] OskarStark commented on #584
This comment isn't quite helpful and feels more like a rant @vytsci ... 😢

[2019-02-21 07:34] vytsci commented on #501
If tools brakes common practices there is magic. Look at Pager code if you can`t see anything wrong there Im very sorry for you and especially that part where Pager gets count of all records. Try passing a query with a group by there - Good Luck!

[2019-02-23 11:53] #900 closed

[2019-02-25 10:18] rande commented on #501
Yep, show us what's wrong with the PR by making a PR. Also be polite.

[2019-02-26 19:53] ejkun commented on #873
Something like this happened to me a few days ago. The problem was that my values were `NULL`, but `no` danger label was being rendered. Which cause some confusion for me and for the users.

Maybe the filter should work with null? Or maybe the display could be different?
Or maybe this is not needed at all since it is a problem with the developer code. In my quase it was a malformed query.

[2019-02-27 14:18] Selion05 opened #908 "get-autocomplete-items more is allways true"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/473c8a62dd95b5a44666085bcd9ac1276c5c6964/src/Datagrid/Pager.php#L79

ceil returns float while setLastPage expects an int combined with commit b6bc0297d524fdcf361d77a5181508ba58bcf6a5 from admin bundle (strict type ch

[2019-02-28 17:44] #899 closed

[2019-02-28 18:47] #908 closed

[2019-02-28 19:23] greg0ire commented on #908
See additional explanation here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/910#discussion_r261342948

[2019-03-15 18:04] core23 commented on #138
This issue is very old. Can you please check this against the latest stable / master version?

Feel free to reopen, if the error still exists.

A PR would be welcome if you reopen this issue.

[2019-03-15 18:04] #138 closed

[2019-03-15 18:05] core23 commented on #162
This issue is very old. Can you please check this against the latest stable / master version?

Feel free to reopen, if the error still exists.

A PR would be welcome if you reopen this issue.

[2019-03-15 18:05] #162 closed

[2019-04-16 09:35] Zec2703 commented on #381
@cassianotartari
Super ! It's exactly what I searched ! => **The parameter "field_options" for "datagripMapper"** !
On the official doc of "Symfony" (https://sonata-project.org/bundles/doctrine-orm-admin/3-x/doc/tutorial/creating_your_first_admin_class/defining_admin_class.html), it's just displayed :
protected function configureDatagridFilters(DatagridMapper $datagridMapper)
    {
        $datagr

[2019-04-16 09:42] kunicmarko20 commented on #381
Instead of hating our official doc, maybe make a PR and improve them? :slightly_smiling_face:

[2019-05-09 16:03] Gipgip opened #919 "DoctrineORMAdminBundle ModelManager addIdentifiersToQuery use only string for identifiers"
### Environment
Docker php-fpm apache sybase ASE 15
#### Sonata packages
[code]
#### Symfony packages
[code]
#### PHP version
[code]
## Subject
In ModelManager addIdentifiersToQuery is using an array $idx with the ids
id types  are string and even it would be integer an explode "$ids = explode(self::ID_SEPARATOR, $id);" would convert to string.
So "setParameter" with no type set a string instead o

[2019-05-13 17:40] quentinboudet commented on #252
Hi everyone, if it can help I had the same bug on symfony4 and resolved it simply by defining the 'admin_code' like this :
`
            $formMapper->add('lastFormResponse', ModelListType::class, [
                'class' => FormResponse::class,
            ], [
                'admin_code' => 'admin.form_response',
            ]);`

So it seems the Admin guesser of ModelListType doesn't work with

[2019-05-29 15:19] VincentLanglet opened #920 "NumberFilter (and others) getOperator should be public"
## Feature Request

I saw this issue https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/515 and I kinda disagree with the fact `getOperator` is private. When I'm doing query by myself, I'd like to have access to `getOperator`.

Or perhaps I'm doing wrong in my use case.

This is my use case:
Admin
[code]

Repository
[code]

I'd like to avoid replicating the `numberFilter` or the

[2019-06-04 10:26] soullivaneuh opened #923 "Resolve string value of is with __toString cause trouble with composite key"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

In 75ac3a3efb95a4618a51a6033463386de4e7afc6 (bisected), the `__toString` method is used if available.

This is wrong, at least for composite key. I don't see why `__toString` can be trust as an id.

## Steps to reproduce

Create an entity with composite key (two ID field) and ass a `

[2019-06-04 10:28] soullivaneuh commented on #923
In my case, this ID is problematic:

[code]

It now relies on the `__toString` method of the FOSUser model, which is the username.

[2019-06-06 10:01] greg0ire commented on #923
[Guess who agrees with you](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/876#discussion_r244489431)! @torreytsui I knew this would bite us someday :P

[2019-06-06 12:26] torreytsui commented on #923
Agree and disagree :P

Agree, it is wrong for composite key. Disagree that `$entity->getId()->__toString()` cannot be trusted as an id. (https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/876#discussion_r244489431)

I need to dig deeper to see how Doctrine works with the composite key.

[2019-06-08 14:38] phansys opened #924 "[RFC] Use tags for "sonata.admin.manager.*" services"
## Feature Request

Using tags for "sonata.admin.manager.*" services would simplify the discovery for them, aiming to avoid [hardcoded lists for these definitions](https://github.com/sonata-project/SonataAdminBundle/blob/3.49.1/src/DependencyInjection/Compiler/AdminMakerCompilerPass.php#L26-L30).

This RFC also applies for all other packages that provide a manager, like "sonata-project/doctrine-mo

[2019-07-19 15:19] #923 closed

[2019-08-16 14:32] abouross commented on #252
if your target entity is "Media" then do not forget to specify "db_driver: doctrine_orm" in the configuration

[2019-10-03 11:53] chunlinwang commented on #759
@vegas0250 doesn't work Postgresql 10.9 😭

[2019-10-03 11:56] chunlinwang commented on #759
@vegas0250 doesn't work for Postgresql 10.9 😭

[2019-11-03 22:04] VincentLanglet commented on #920
Will be fixed by the PR

[2019-11-03 22:04] #920 closed

[2019-11-06 14:45] bobemoe opened #943 "StringFilter IS EMPTY and IS NOT EMPTY"
## Feature Request

The current StringFilter/ChoiceType allows only allows `LIKE`, `NOT LIKE`, and `EQUALS`:

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Filter/StringFilter.php

https://github.com/sonata-project/SonataAdminBundle/blob/3.x/src/Form/Type/Filter/ChoiceType.php

I'm wanting to filter by
* Is empty
* Is not empty
* Starts with
* Ends with

I would have

[2019-11-07 11:00] jjsmclaughlin commented on #584
I had the same problem. I found that it was solved by using a doctrine_orm_model_autocomplete as my requested Doctrine ORM filter type on the datagrid:

`$datagridMapper->add('my_foreign_key_property', 'doctrine_orm_model_autocomplete', [], null, ['property'=>'a_field_on_my_foreign_key_entity'])`

This seems to stop Doctrine from trying to populate the datagrid in advance with all those queries. I

[2019-11-18 10:52] dmaicher opened #947 "Support doctrine/doctrine-bundle 2.0?"
## Feature Request

Since `doctrine/doctrine-bundle` 2.0 will be released soon: Are there any plans supporting it?

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/composer.json#L27
https://github.com/doctrine/DoctrineBundle/releases/tag/2.0.0-Beta1

[2019-11-18 11:42] core23 commented on #947
There is no concrete plan, but you can provide a PR that adds support 👍

[2019-11-20 17:21] VincentLanglet opened #951 "Wrong wording for ChoiceFilter operator type when option multiple true is used"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When using the ChoiceFilter with `multiple => true`
![image](https://user-images.githubusercontent.com/9052536/69260507-4e175600-0bc0-11ea-9576-adc45e54d7a1.png)

We can pass multiple value and the query is the following
![image](https://user-images.githubusercontent.com/9052536/6926

[2019-11-22 21:33] #947 closed

[2019-11-28 14:17] manu-sparheld opened #956 "Getting too many deprecation"
Just upgraded to SF 4.4.x and it shows a lot of deprecation:

[code]

[2019-11-28 14:25] core23 commented on #956
Can you provide a PR with a fix @manu-sparheld

[2020-01-10 09:56] manu-sparheld commented on #956
I tried to find out, but how to find out where template is used, I am not getting any clue. Any ideas ?

TIA

[2020-01-10 11:16] phansys commented on #956
IIRC, when I tried to debug this issue, I found that the template was not used, but the deprecation was triggered by `sonata_template_deprecate` when the template was loaded.

[2020-01-10 14:06] manu-sparheld commented on #956
So What is workaround to get rid of this big list of deprications?

[2020-01-10 15:23] franmomu commented on #956
I have never tried, but what about using [deprecated tag](https://twig.symfony.com/doc/2.x/tags/deprecated.html)?

[2020-01-13 09:02] manu-sparheld commented on #956
I will check them out, Thanks

[2020-01-14 13:01] VincentLanglet opened #968 "computeNbResult throw error when the query use a groupBy"
### Environment

#### Sonata packages

[code]

## Subject

When writing a custom filter like this
[code]

Or like this
[code]

Or again like this
[code]

With a `LEFT_JOIN` and a `GROUP BY`, we get an error
[code]

It's coming from the `computeNbResult`.
[code]

I tried to `return 0` inside and my query works. The error is just coming from computeNbResult.

[2020-01-14 16:13] phansys commented on #968
The concerns about this behavior seem to be addressed at #501.

[2020-01-14 20:15] VincentLanglet commented on #968
Indeed it seems kinda-related.
But if adding a `resetDQLPart('groupBy')` can help for the listing, i think it will give bad results for filtering.

@greg0ire You may still have advice to provide.

[2020-01-14 20:35] greg0ire commented on #968
Sorry but this is way too old :sweat_smile:

[2020-01-15 10:44] #956 closed

[2020-01-21 16:26] Metabor commented on #838
I run into the same problem, so I can at least approve, that it still exists.

[2020-01-31 08:29] #495 closed

[2020-01-31 12:33] Nadrshin commented on #497
This bug is still relevant. Pager considers only first column from complex primary key https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.13.0/src/Datagrid/Pager.php#L45

[2020-01-31 17:40] VincentLanglet commented on #951
@OskarStark @core23 @greg0ire I'll be happy having you point of view about this since I can make the PR :)

[2020-01-31 17:48] core23 commented on #951
A PR is welcome @VincentLanglet  :)

[2020-02-03 08:57] Nadrshin commented on #334
`case_sensitive` option in `StringFilter` works good. It is a pity that it is not possible to set default value `false` in global config.

[2020-02-03 09:34] greg0ire commented on #334
@Nadrshin we accept PRs.

[2020-02-04 15:32] VincentLanglet commented on #968
I tested in my project
[code]

It's not the best but it fix the issue.

[2020-02-04 20:34] #968 closed

[2020-02-06 05:36] imajim commented on #796
it's not blocking , but the database grow up with datas there are not exits anymore

[2020-02-11 23:59] checcoux commented on #873
in the end i was expecting the _no danger label_ rendered with _NULL_ values. i was kinda confused, why is not possible to render the _no danger label_ with _NULL_ values?
like @ejkun i like the idea of showing that label with _NULL_ label; maybe if you want to show only _no_ and not _NULL_ you could write another filter

[2020-02-13 12:23] stefanides commented on #866
The bug is still there in the latest version. It can be reproduced only when listing fields in order object first, then plain value. Opposite order works OK (unless $metadata gets rewritten with object field).

To continue I would just need to check it by someone with more bundle's knowledge - whether this is a real bug or it may be some intention behind? Then I can try PR to fix it :-)

[2020-02-14 09:07] #919 closed

[2020-02-14 09:07] #886 closed

[2020-02-14 09:07] #820 closed

[2020-02-14 09:07] #840 closed

[2020-02-14 09:08] #686 closed

[2020-02-14 09:08] #682 closed

[2020-02-14 09:08] #655 closed

[2020-02-14 09:08] #520 closed

[2020-02-14 09:08] #643 closed

[2020-02-14 09:08] #451 closed

[2020-02-14 09:08] #501 closed

[2020-02-14 09:08] #438 closed

[2020-02-14 09:08] #444 closed

[2020-02-14 09:08] #394 closed

[2020-02-14 09:08] #420 closed

[2020-02-14 09:08] #252 closed

[2020-02-14 11:42] mikemix commented on #820
Lol

[2020-02-16 17:49] #924 closed

[2020-02-19 08:15] garak opened #988 "SonataCoreBundle is deprecated"
As stated on [its README](https://github.com/sonata-project/SonataCoreBundle/blob/3.x/README.md), SonataCoreBundle is deprecated.

This bundle should not rely on SonataCoreBundle anymore

[2020-02-19 09:05] #873 closed

[2020-02-19 09:38] tonyellow commented on #848
This saved my day

[2020-02-22 14:27] VincentLanglet opened #991 "ChoiceFilter should handle NULL value (and have a better support of ALL value)."
## Feature Request

This is the `ChoiceFilter` code
[code]

You can see that:
- There is a specific behaviour for the `all` value. AFIK, this is not documented. And if you chose the `all` value, the filter is not applied, even if you chose the `NOT CONTAINS` operator. But, for me it should return no results instead of every result. IMHO, the `all` behaviour should be deprecated or at least fixed.

[2020-02-22 15:00] VincentLanglet commented on #951
Since EqualType will be deprecated in favor of EqualOperatorType, the wording will change to
`is equal to`, `is not equal to`.

For multiple values, it means, `is equal to A OR B`. I find this less confusing now that `equal` and `contains` words are not used in the same select.

[2020-02-22 15:00] #951 closed

[2020-02-27 10:46] VincentLanglet commented on #991
@greg0ire @OskarStark @core23 @phansys
We're considering taking time next time in our company to implement this feature on Sonata. Do you agree with these changes/improvement ?
Do you consider this as BC or BC-break ?

[2020-02-27 12:39] OskarStark commented on #991
Your explanation sounds valid to me, and I am missing this kind of filter too 👍

[2020-02-27 19:13] greg0ire commented on #991
If it's not documented then it's not a BC-break :P I agree with the change, and let's document and test the new behavior :)

[2020-02-28 00:15] phansys commented on #991
It would be a great improvement.

[2020-02-28 21:17] greg0ire commented on #991
Also @VincentLanglet , I tried to contact you on the Symfony devs Slack to ask you to join the team :)

[2020-02-28 21:41] VincentLanglet commented on #991
Oh ! I'm never log in on the symfony-dev slack. I should try to be more often.
I'll be happy to join the team. @greg0ire

[2020-02-28 22:17] greg0ire commented on #991
Great! Please send me your email address in that Slack so that we can invite you to the Sonata Slack :)

[2020-03-01 01:44] VincentLanglet commented on #991
The PR for this issue will close https://github.com/sonata-project/SonataAdminBundle/issues/3569 too

[2020-03-02 11:12] OskarStark commented on #991
cc @peter-gribanov

[2020-03-02 12:02] peter-gribanov commented on #991
The problem i described is related to this part. Sometimes it is necessary to find all entities whose field value is empty or null.

You can't just remove [this condition](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/src/Filter/ChoiceFilter.php#L48-L50), because in this case absolutely all filters will be applied. Perhaps we should rely on the type of filter. If the u

[2020-03-02 12:41] n-vlad commented on #160
With":
`        "sonata-project/admin-bundle": "3.56",
        "sonata-project/doctrine-orm-admin-bundle": "3.12"`

This is no longer applicable, setting 'multiple' will end with an error:

`An error has occurred resolving the options of the form "Sonata\AdminBundle\Form\Type\ModelListType": The option "multiple" does not exist.`

[2020-03-06 13:49] VincentLanglet commented on #991
I just want to remove the check for the `null` value.

![image](https://user-images.githubusercontent.com/9052536/76088900-1a1e4000-5fb9-11ea-956f-b8aadefcc7c2.png)

In this scenario
- The first filter is not apply, filter function is not even called.
- The second filter is apply
- The last filter called filter with a `$data['value']` null. ATM it does nothing, but if I remove the check for `null

[2020-03-06 16:12] rgrassian commented on #991
I just created PR #999

[2020-03-06 16:21] peter-gribanov commented on #991
@VincentLanglet this is about nullable values, but what about empty values sonata-project/SonataAdminBundle#3569 ?

[2020-03-06 16:38] VincentLanglet commented on #991
This may be another feature, we were mainly talking about nullable value in this issue.
There was a difference between a filter without value and filter with a `null` value.

But I don't really understand what you mean by `empty value` ?

If you're talking about `''` value, so I recommend to do https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/943

[2020-03-06 16:50] peter-gribanov commented on #991
Including about it. So this is a duplicate of my issue.

[2020-03-06 16:51] VincentLanglet commented on #991
But this is not related to this issue.

[2020-03-06 16:51] peter-gribanov commented on #943
This is a similar issue of https://github.com/sonata-project/SonataAdminBundle/issues/3569

[2020-03-06 16:58] peter-gribanov commented on #991
You yourself mentioned the connection https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/991#issuecomment-593028877

There issues is a related, because in my issue i am talking about finding records with an empty value. This is both an empty string `''` #943 and `null` #991.

[2020-03-06 17:11] VincentLanglet commented on #991
There is ton of empty value depending on the situation `''`, `false`, `0`, `'0'`, `null`, `[]`, ...
So please, stop talking about empty value. Talk about the value you're looking for, and split them in separate choices/filter.

If I look for all the `null` value, the filter you're asking won't help me. For me `''` is not a `null` value. If someone look for `''` values, he clearly not want the `'0'

[2020-03-06 17:13] VincentLanglet commented on #943
This issue talk about other filters like `StartWith` and `EndWith`.
And he's looking for `''` value only. This is more precise than your issue.

[2020-03-06 20:20] peter-gribanov commented on #991
I repeat.  I set a common task.  You are considering a special case.  That is, your task turns out to be a subtask in relation to mine.

[2020-03-06 20:22] greg0ire commented on #991
And because you think it is broken. Not being documented is not enough alone IMO

[2020-03-16 16:44] #991 closed

[2020-03-23 09:34] axzx opened #1008 "FilterTypeGuesser does not set the correct field type"
### Environment
PostgreSQL

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I have entity with id

[code]

and I have admin class and method configureDatagridFilters:
[code]

## Steps to reproduce
I put 3.3 to id filter field

## Expected results
filter with number 3

## Actual results
error 500

PostgreSQL

SQLSTATE[22P02]: Invalid text represent

[2020-03-23 09:39] VincentLanglet commented on #1008
Do you want to create the PR @axzx ?

You have to split https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Guesser/FilterTypeGuesser.php#L96 in two. `NumberType` and `IntegerType`

[2020-03-23 10:55] franmomu opened #1010 "The order list has been changed"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Since https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/997 the order of a list changed

## Steps to reproduce
Create an admin an override the `createQuery` method using orderBy:
[code]
## Expected results

To keep sorting as it was before

## Actual results

It cha

[2020-03-23 10:59] VincentLanglet commented on #1010
I don't consider this like a bug, but a bug which was fixed.
Why would an order in the createQuery override the table order ?

When a user click on a column to order by 'id' or by 'name', ...
It should order by 'id' or by 'name' and only after order by your custom order by 'date'.

If you want to order by `date` by default, you should use the `datagridValues`.

[2020-03-23 11:56] franmomu commented on #1010
My point was that we shouldn't change something that was working in specific way for a long time without giving some warning first, even if it's a bugfix.

The example I shown was a basic one, but the same applies to multiple field sorting or sorting by `COUNT` for example.

[2020-03-23 12:10] VincentLanglet commented on #1010
What do you propose ?
I added a `Fixed` changelog https://github.com/sonata-project/SonataDoctrineORMAdminBundle/releases/tag/3.15.0.

This was never documented as supported. It was just a hack some users found out.

There was a discussion about the expected behaviour of `_sort_by`, custom `orderBy`, ... here https://github.com/sonata-project/SonataAdminBundle/issues/5929#issuecomment-599680252

T

[2020-03-23 14:48] franmomu commented on #1010
IMO the new behaviour should be optional and enabled by the user or should be reverted.

I don't think this is a hack... it's where you have access to the query.

[2020-03-23 15:02] VincentLanglet commented on #1010
So you're not asking for a warning, you're asking for a revert. That's different.
I strongly disagree with this. It's not because a bug was here for a long time that the fix should be optional, or reverted.

When using orderBy in the query, you couldn't use the table correctly since you couldn't order by the column. If you don't want to use the `column order` feature, just remove the default value

[2020-03-23 15:22] #1008 closed

[2020-03-23 15:28] franmomu commented on #1010
I'm asking for introducing the new behaviour as optional and disabled by default...

But we're not going to agree here, so maybe it's better if someone else can help us. WDYT @sonata-project/contributors ?

[2020-03-23 15:38] VincentLanglet commented on #1010
It's like asking for an option `with_bug` with `true` as the default value.

Plus I already gave you explanation about how to get the behaviour you wanted.

In case you didn't see, I gave you another opinion.
https://github.com/sonata-project/SonataAdminBundle/issues/5929#issuecomment-599680252

[2020-03-23 18:01] franmomu commented on #1010
I'm not talking here about how it should work... I'm talking about users that use a library and suddenly when they upgrade the library, it shows different results... To me change that behaviour even if it's a bugfix is breaking BC.

[2020-03-23 18:20] VincentLanglet commented on #1010
By definition a bugfix will always change the behaviour of something.

Let's just take the last bugfix on this project https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1009

Before I could filter my list and looking for the id `3.3`, now I can't. Should I call this a BC-break then ? This bug was also here for years and it was not critical. Should we add an option too ?

It's sho

[2020-03-23 19:38] franmomu commented on #1010
Well I don't think it's the same. Anyway, we have different opinions and that's perfectly fine, let other people decide what to do here.

[2020-03-23 20:31] yhf8377 commented on #1010
I am here because we just traced down the cause of lots of test failures in our project was the change introduced to fix issue #997.

I sided with @franmomu. A fix introducing other bugs is not a true fix. As long as the previous method is allowed, we can not afford a hard fail. A deprecation warning will be helpful in this case.

[2020-03-23 20:51] VincentLanglet commented on #1010
What you're calling bugs are not. It's not because you're used to a wrong behaviour (and you wrote test on it), that fixing this wrong behaviour should be called a "bug".
The fact the list was not updated when the user click on the column to sort the list, this was a bug.

Adding sortOrder is still allowed, it's just applied after the table `sortBy` as expected for the user.

If you don't want to

[2020-03-23 21:25] VincentLanglet commented on #1010
If we look at others ORM, we can see that there was not intended to add `orderBy` in the createQuery.

In DoctrinePhpcr, if you use an `oderBy` in the createQuery, it's overriden by the `orderBy`
here https://github.com/sonata-project/SonataDoctrinePhpcrAdminBundle/blob/2.x/src/Datagrid/ProxyQuery.php#L137.

So:
- This was not documented
- This is not consistent between ORM
- This was broken.
This

[2020-03-23 22:02] greg0ire commented on #1010
![xkcd workflow](https://imgs.xkcd.com/comics/workflow.png)

[2020-03-27 20:52] #497 closed

[2020-03-27 20:56] VincentLanglet commented on #866
@stefanides What is the error message you get ? Did you try to modify the code in your vendor ? Does it fix the bug ?

You welcome to make a PR and add a test about this, that's the best way to confirm it works.

[2020-03-29 20:01] oleg-andreyev opened #1021 "Composer contraints can't be satisfied on PHP 7.1"
PHP 7.1

[code]

triggered by #1017

[2020-03-29 20:10] oleg-andreyev commented on #1021
Looks like admin-bundle needs to downgrade to 3.58.0 because 3.59 will require core-bundle (^3.18.0) which requires ^7.2

[code]

[2020-03-29 20:22] core23 commented on #1021
Sorry, but we don't support dead PHP versions: https://www.php.net/supported-versions.php

Also please have a look at: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/CONTRIBUTING.md#dependency-changes

[2020-03-29 20:22] #1021 closed

[2020-03-29 20:33] oleg-andreyev commented on #1021
@core23 but in this case PHP version should be bumped to ^7.2 otherwise it's a disinformation https://packagist.org/packages/sonata-project/doctrine-orm-admin-bundle says that 7.1 is supported.

[2020-03-29 20:40] greg0ire commented on #1021
Please send a PR

[2020-03-29 22:55] VincentLanglet commented on #1021
I created a PR for this https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1022

[2020-03-30 09:03] Riches commented on #1010
I appreciate both sides here, although I know from experience working with a few apps that use this bundle many admins override the default ordering, especially in filters. For now we've locked our apps at 3.14.0. Perhaps in the future a feature could be considered where table filtering is disabled altogether, enabling the orderBy overrides that people have been using?

[2020-03-30 09:05] VincentLanglet commented on #1010
It will be in 4.0.
But you can still make this change on your project https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1004

[2020-04-08 16:51] stefanides commented on #866
The error message does not lead to the reason, in my case (in simple list action in Admin class) it reports `No entity manager defined for class DateTime2string` (class is not an Entity - EM cannot be used). If the second key is not a class, the error message differs.

The example of Entity follows
[code]

When `ModelManager::getIdentifierValues()` method goes through the `@ORM\Id` keys, then if `

[2020-04-09 15:16] VincentLanglet opened #1029 "ArrayFilter : Contains, Not contains, Equal, Empty, ..."
## Feature Request

It would be nice to have a filter for fields using `@ORM\Column(type="array")`.

FYI, the data is save as
[code]

The ability to filter on
- Contains : "lead.form.specific_documentations.older_than_85".
- Contains : "lead.form.specific_documentations.older_than_85" and "lead.form.specific_documentations.protected_adult"
- Contains : "lead.form.specific_documentations.older_than

[2020-04-13 12:25] VincentLanglet commented on #1029
I think I'll implement this feature @OskarStark. If you have any advice (especially for the array case), I take it !

If I take the following value as example
[code]

for type Json:
[code]
`LIKE %:value%` would be good.

for type Simple array:
[code]
`LIKE %value,% OR LIKE %,value%` would be good.

for type Array:
[code]
I have some trouble to find a difference between key and value for the query.

[2020-04-27 08:37] #1010 closed

[2020-04-27 14:15] jean-gui opened #1040 "ModelAutocompleteFilter "is not equal to" and NULL database value"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

I have several filters such as
[code]
When using it with "is not equal to", results don't include entries for which the `user` column is null, which is very counter-intuitive. I think that's somewhat related to https://github.com/sonata-project/SonataAdminBundle/issues/3569 and #991,

[2020-04-27 14:40] VincentLanglet commented on #1040
I'm not sure it's counter-intuitive. For me this is the behaviour of every Filter provided by Sonata.
When you look for a value which is not equal to something, you still look for a value.

It's similar to the behaviour of SQL:
[code]
Doesn't return the foo with a NULL bar value.

The change introduced by the issue #991 was kinda to use `IS NULL` if you selected `null` value specifically, instead

[2020-04-29 12:08] jean-gui commented on #1040
The confusing thing is that because of this behavior the total number of rows is different from the sum of "is equal to" and "is not equal to". At least that's confusing to my user and to me since I had to dig to understand what was going on.

If you think it's not a bug, could it at least be configurable? That would would also prevent the BC-break.

[2020-05-02 13:38] VincentLanglet commented on #866
@stefanides Do you mind opening a PR with the fix ? We'll see together if a test is possible.

[2020-05-03 21:13] VincentLanglet commented on #1040
When you're looking for a boolean value which is not `true`, you get the same result that when you're looking for a boolean which is `false`. You don't get the `null` value.
I'm pretty sure changing this behaviour would lead to someone saying that's confusing.

This is the same in your case but with multiple value.
Let say there is 4 values, A, B, C, D. Not A = B + C + D.

When you use the `DateFi

[2020-05-06 10:01] soullivaneuh opened #1041 "Argument 1 passed to Sonata\AdminBundle\Form\DataTransformer\ModelToIdPropertyTransformer::__construct() must implement interface Sonata\AdminBundle\Model\ModelManagerInterface, null given"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

After a `composer update`, moving from admin-bundle `v3.51.0` to `v3.66.0`, I have a crash doing a global search:

## Steps to reproduce

1. Update to `v3.66.0`
2. Use `ModelAutocompleteType` (see implement example)

[code]

## Expected results

Working as before.

## Actual results

[2020-05-06 10:37] soullivaneuh commented on #1041
Issue happens starting `3.13.0`.

[2020-05-06 10:43] soullivaneuh commented on #1041
After bisecting, it appears the bug was introduced in 3bef7482ae58f0cd1e858d28516bbe6e62c67d13, related to #945

[2020-05-06 10:52] soullivaneuh commented on #1041
Ok found why: I was sill using `doctrine_orm_model_autocomplete` somewhere and this type is not supported anymore. Here is my code fix:

[code]

Introduced here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/3bef7482ae58f0cd1e858d28516bbe6e62c67d13#diff-eeb9e64780aabe9b2d7d6de3f0522447R159

To me, even if dropping version support is BC, making code not working anymore is no

[2020-05-06 11:02] VincentLanglet commented on #1041
Introduced back here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/5ede9a3239510249af997b65d6ab328551694934#diff-7d465efca2ece4545e7c9e9072a77b27

Removed again here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/3bef7482ae58f0cd1e858d28516bbe6e62c67d13#diff-eeb9e64780aabe9b2d7d6de3f0522447R159

Do you mind making the PR @soullivaneuh and modifying

[2020-05-06 11:04] franmomu commented on #1041
Sure! I think so too, in fact @core23 pointed me out that and I re-added them back in https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/945/commits/cdaae029279d237330ea730b95afbdafb93f86aa, but I missed the one in DatagridBuilder.php

[2020-05-06 12:58] soullivaneuh commented on #1041
I let the PR work for anybody who wants to, I do not have enough time to allow sorry.

[2020-05-23 20:09] #1029 closed

[2020-06-06 07:34] jordisala1991 commented on #988
This one is solved for this bundle

[2020-06-06 07:34] #988 closed

[2020-06-09 12:09] manu-sparheld commented on #943
Any ideas on how to implement :

TIA

[2020-06-09 12:33] VincentLanglet commented on #943
Do you want to make a PR ?

StartWith foo = `LIKE foo%`
EndWith foo = `LIKE %foo`

[2020-06-09 14:49] napestershine commented on #943
@VincentLanglet Please have a look
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1057
https://github.com/sonata-project/SonataAdminBundle/pull/6134

TIA

[2020-06-24 12:41] th-lange commented on #584
I happened to stumble over this, trying to solve an unusable admin panel in a live environment.

This direly needs to be reflected in the documentation! Most people will have links between Entities, making tables referring to large data sets almost unusable.

This should even be a warning! If you refer to large sets of entities, be wary that the filter will fetch and hydrate those entities! (Hydra

[2020-06-25 12:27] phansys commented on #584
In case you need to provide the available choices manually, you can also give a try to [`CallbackChoiceLoader`](https://symfony.com/blog/new-in-symfony-3-2-lazy-loading-of-form-choices). This should help to keep a reduced set of queries, even for the global search (which by default performs a `LIKE` comparison with every text filter in your admin instances).

[2020-06-30 11:08] dima-gr opened #1065 "Symfony 4.3 Sonata\Form\Type\CollectionType does not show collections"
[code]
symfony:
[code]
php version:

PHP 7.2.31 (cli) (built: Jun  9 2020 15:23:26) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.31, Copyright (c) 1999-2018, by Zend Technologies
    with Xdebug v2.9.6, Copyright (c) 2002-2020, by Derick Rethans

[code]

Contacts are saved, but the list of saved contacts not

[2020-07-11 18:28] VincentLanglet commented on #1040
Hi @jean-gui

I found
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/649/files
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/650/files

It seems like filters was starting to work like you wanted.

I looked again at the filter
- BooleanFilter is not concerned.
- ChoiceFilter does not return `null` values when using `NOT_EQUAL` ; maybe it should...
- I don'

[2020-07-11 18:35] VincentLanglet commented on #1065
Try this way
[code]

[2020-07-19 21:48] VincentLanglet commented on #838
Hi @Metabor. Did you tried the last version ? Is it still here ?
What is the errors you get ? Do you have a repo to reproduce this ?
I'll be happy to take a look if so.

[2020-07-21 09:01] jean-gui commented on #1040
Thanks @VincentLanglet for investigating this issue!

[2020-07-21 09:25] VincentLanglet commented on #1040
Do you want to make a PR @jean-gui ?

[2020-07-21 09:51] jean-gui commented on #1040
Unfortunately, I don't think I have enough time for that :-/

[2020-08-08 10:03] #334 closed

[2020-08-10 09:05] VincentLanglet opened #1085 "[NEXT_MAJOR] AuditReader::find and AuditReader::findRevision should not throw exception and return null instead."
## Feature Request

Related to https://github.com/sonata-project/SonataAdminBundle/pull/6261#discussion_r467395214

[2020-08-11 09:03] #796 closed

[2020-08-27 09:32] jaikdean opened #1096 "Symfony 5 compatibility"
## Feature Request

It looks like the last dependency of this package to add Symfony 5 compatibility is `sonata-project/admin-bundle`, which is well underway in https://github.com/sonata-project/SonataAdminBundle/pull/6263

Once that is complete, we'll be able to add compatibility to this bundle.

[2020-10-11 17:51] byhaskell opened #1158 "Two admin classes display one entity"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

Hello. In my practice, it became necessary to do the following: there are filters and subfilters, I want that subfilters to parent filters could be created in one place.
When I create a second admin with $ baseRouteName and $ baseRoutePattern setting still get error "Unable to find a

[2020-10-13 09:50] #1158 closed

[2020-10-23 14:30] #1096 closed

[2020-10-29 19:19] alexandrubau opened #1174 "Cannot embed a self referenced CollectionType"
### Environment

#### Sonata packages

[code]

#### Symfony packages

[code]

#### PHP version

[code]

## Subject

When using a CollectionType referencing the same Admin class, no form fields (and no errors) are loaded upon clicking "Add new" button.

[code]

[code]
![screen](https://user-images.githubusercontent.com/1225661/97621984-4ac15700-1a2c-11eb-9871-ac29504c9062.gif)

[2020-10-29 19:23] alexandrubau commented on #1174
I think it was more appropriate to open the bug in the "sonata-admin" project. Moved it [here](https://github.com/sonata-project/SonataAdminBundle/issues/6553).

[2020-10-29 19:23] #1174 closed

[2020-11-04 12:37] kirya-dev commented on #584
Im have same problem

[2020-11-04 12:40] kirya-dev opened #1181 "Using Paginator instead of Pager"
## Feature Request

Pager cannot works when using group by in queries.

class of Paginator is
\Doctrine\ORM\Tools\Pagination\Paginator

[2020-11-05 19:02] VincentLanglet opened #1187 "[Next Major] Close API"
- [x] Add `final` modifier
- [x] Reduce visibility to `private` if possible

[2020-11-05 19:06] VincentLanglet opened #1188 "Add param and return type hint"
### ToDo

- [ ] Admin
- [ ] Block
- [ ] Builder
- [ ] Datagrid
- [ ] DependencyInjection
- [ ] Filter
- [ ] Guesser
- [ ] Model
- [ ] Util

[2020-11-09 14:32] stefanides commented on #866
This looks to be already fixed in https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/6d028b764df40786426cd19203542b7493411044 :-)

[2020-11-09 14:32] #866 closed

[2020-11-18 18:51] VincentLanglet opened #1208 "[RFC] Rename EmptyFilter to NullFilter"
## Feature Request

Doctrine provide a `IS EMPTY` and `IS NOT EMPTY` check
https://www.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#get-all-users-that-have-no-phonenumber

So the EmptyFilter is misleading, since he's doing a `NULL` check.
And it avoid us to implement the "real" EmptyFilter.

I think we should
- Rename EmptyFilter to NullFilter (in

[2020-11-22 10:41] core23 opened #1215 "Improve error message when binding to unknown field"
## Feature Request

When creating a form field description with an unknown field, the page will crash with a confusing error message:

[code]

Code link: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Resources/views/Form/form_admin_fields.html.twig#L74

Here is the corresponding admin (extension):

[code]

The problem is, that we do not check if the field exist or if

[2020-11-23 19:23] VincentLanglet opened #1216 "This project is using methods which does not exist in ProxyQueryInterface without exposing a custom interface"
Related to the discussion: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1199#issuecomment-732333757

When methods have `ProxyQueryInterface` param, we're using them like it was always a `ProxyQuery`.
We should add a type-check before.

Currently the `ProxyQuery` is not final, so
[code]
Can do the job, but exposing an interface `DoctrineProxyQueryInterface extends ProxyQueryI

[2020-11-27 11:48] phansys commented on #1216
I think we must declare any missing interface.

Then, we should explicitly declare the missing methods and call the decorated service.

[2020-11-27 12:08] VincentLanglet commented on #1216
A simpler way should be to not rely on the `__call` implementation. And use `getQueryBuilder()->...`.
I'm on a PR for this.

[2020-11-27 22:27] #1216 closed

[2020-12-01 12:19] rgrassian opened #1219 "FieldDescription::getValue does not allow to chain custom getter"
## Feature Request

Hi,
I need to chain custom getters to add a field in a listMapper.

For instance I have 2 classes `Man` and `Dog` with the following methods :
[code]
[code]

`add('favoriteDog')` will work on ManAdmin and `add('formattedName')` will work on DogAdmin.
But `add('favoriteDog.formattedName')` will not display anything on ManAdmin.

From what I saw, the problem comes from FieldDescr

[2020-12-07 15:46] VincentLanglet opened #1225 "Order by computedField"
### Environment

#### Sonata packages

[code]

## Subject

I would like to order the list by a computed sql field
[code]

This query is working well when I tried the SQL by myself.
But, it doesn't work in the Datagrid.

The issue is introduced by the `getFixedQueryBuilder()` method.https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/71ea5138cfc443a42aa0b8c692b98bee11001743/src/Data

[2020-12-12 19:33] VincentLanglet opened #1230 "Deprecate ModelManager::getMetadata and ModelManager::hasMetadata"
Similar to https://github.com/sonata-project/SonataDoctrineMongoDBAdminBundle/pull/492

[2020-12-15 15:00] matjaz321 opened #1233 "ModelManager::addIdentifiersToQuery will not order items correctly"
### Environment

#### Sonata packages
<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages
<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

## Minimal repository with the bug

## Steps to reproduce
- Create queryBuilder and use `ModelManager::addIdentifiersToQuery`.
- I have for example in the database entities wit

[2020-12-16 10:54] matjaz321 commented on #1233
Please just let me know if mentioned solution is appropriate, so I can create a new PR quickly...

[2020-12-16 11:14] VincentLanglet commented on #1233
The best way to know is
- to test this on your project
- to create the PR with tests.

[2020-12-16 19:56] franmomu commented on #1233
interesting, never used `FIELD` function, AFAIK is not available in `doctrine/orm`, is is going to work for any database?

[2020-12-16 20:49] matjaz321 commented on #1233
Ah you are right it's only available in mysql...

[2020-12-16 21:21] franmomu commented on #1233
Would [this](https://stackoverflow.com/a/1310188) work? I remember using `CASE` in `SELECT` in doctrine, but not in `ORDER BY`.

[2020-12-17 08:04] matjaz321 commented on #1233
Yeah probably will try it

[2020-12-17 10:30] #1208 closed

[2020-12-17 10:31] VincentLanglet commented on #943
There is now a `allow_empty` option: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1120

[2020-12-17 10:31] #943 closed

[2020-12-18 12:02] VincentLanglet commented on #1219
After some investigations, the issue seems to come from https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Model/ModelManager.php#L111-L135

Since it's a custom getter, `isset($metadata->associationMappings[$nameElement])` is `false` and `foreach` stops.
The `FieldDescription` has the following properties:
- `favoriteDog.formattedName` as name.
- `formattedName` as fieldNa

[2020-12-19 00:00] franmomu commented on #1219
One way to solve it for now is adding a `virtual_field`:

[code]
and then in twig you have access to `object` and you can call `object.favoriteDog.formattedName`.

Fake associations doesn't sound right, I haven't checked the code, but maybe we can add a `property_path` option and use `PropertyAccessor`.

[2020-12-19 16:11] VincentLanglet commented on #1219
You can currently use the template from Sonata:
[code]
if the getter already exist.

I feel sad with the fact to recommend to create a template instead for every custom field.
If you need to add this in list and show, you need 2 templates.
With the custom getter (which may be already implemented) it requires nothing.

So having a working
[code]
wouldn't be bad for consistency.

@franmomu I'm not f

[2021-01-01 15:35] #1230 closed

[2021-01-03 13:03] VincentLanglet commented on #1233
Hi @matjaz321

Does it work ? Can you provide a PR ? :)

[2021-01-03 13:12] VincentLanglet commented on #1160
`show` will be the default behavior in 4.0. But an option is still interesting.

[2021-01-05 17:41] #1219 closed

[2021-01-12 10:43] michanismus opened #1261 "Please merge `countResult()` into master"
Could you please merge the updates into master branch?

I have to use master because I am using Symfony 5.x.

Master branch has missing `countResult()` method.

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/de58c309aeefaaf33518ebdffc24b78026e710ad

[2021-01-12 11:01] dmaicher commented on #1261
Will look into creating a PR that merges 3.x into master today.

But generally you are using unreleased versions :wink: So expect more of those issues to come.

Maybe you should reference a fixed commit of 4.x-dev/master with compose to have more control over updates.

[2021-01-12 11:10] michanismus commented on #1261
I would really appreciate that 👍
Unfortunately I have to use the `4.x-dev` branches because I use Symfony 5.2 and the `3.x` branches conflicts my  composer requirements...

I will create a fork as temporary solution...

[2021-01-12 11:13] VincentLanglet commented on #1261
You also can open the PR by yourself @michanismus

[2021-01-12 11:24] michanismus commented on #1261
If I had the time to dive into the Pager changes I would...
Just created an simple workaround in my fork.

[2021-01-12 11:24] dmaicher commented on #1261
That would be even better 👍

[2021-01-12 11:46] michanismus commented on #1261
@dmaicher @VincentLanglet
Could you please review my changes?
https://github.com/michanismus/SonataDoctrineORMAdminBundle/blob/master/src/Datagrid/Pager.php

If it looks fine for you I will rebase and create a PR.

[2021-01-12 11:48] VincentLanglet commented on #1261
You can also use an older commit of SonataAdmin.

[2021-01-12 11:51] michanismus commented on #1261
Nope, conflicts with my composer requirements...

[2021-01-12 11:52] michanismus commented on #1261
@VincentLanglet I see that `getCountColumn()` is deprecated as well... so 4.x will only use `countSinglePrimaryKey`?

[2021-01-12 12:47] michanismus commented on #1261
So I have to use my fork until you merged the PR mentioned by @dmaicher. No problem 👍
But its kind of weird that you introduced changes for 4.x, added compatibility to 3.x branch before they were added to the target 4.x-dev branch.

Anyway, thanks for your great work!

[2021-01-12 12:55] VincentLanglet commented on #1261
It's the normal way to always fix the oldest branch first and then merge to the recent branch.
You can merge 3.x into 4.x. You can't merge 4.x into 3.x.

Look at symfony repository, bugFix are made on 4.4 branch and then merged into 5.x ones.

[2021-01-12 13:00] michanismus commented on #1261
Yes but the changes are not bugfixes. These changes are BC.
Symfony 4.4 is the current LTS version. BC 5.x changes wont never merged into 4.4...

[2021-01-12 13:02] VincentLanglet commented on #1261
There is no breaking change here. It's just about adding compatibility.

[2021-01-12 13:02] #1261 closed

[2021-01-12 13:09] michanismus commented on #1261
Ok, then I got something wrong.

[2021-01-15 09:21] florian987 opened #1266 "Missing countResults method in Pager (master branch)"
## Subject

I was trying the master branch on SonataAdminBundle and SonataDoctrineORMAdminBundle to see how it goes with Symfony 5 and I faced two issues.

The first one is:
https://github.com/sonata-project/SonataAdminBundle/issues/6773

Which is now being fixed. The second is on this bundle:

[code]

I searched on current issues, but couldn't find it.

I made a quick fix on my side adding simply

[2021-01-15 09:25] VincentLanglet commented on #1266
Will be fixed by https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1264

Until then, you can use an older SonataAdmin master branch commit like https://github.com/sonata-project/SonataAdminBundle/pull/6738/commits/3eb709e9b6a47aab33311eebeeff89ee5f1f8455

[2021-01-15 10:12] florian987 commented on #1266
Thanks for your quick response @VincentLanglet

[2021-01-15 10:23] VincentLanglet commented on #1266
You're welcome. Master branch is not stable but don't hesitate to report any other issue/bug, because we would like to release a 4.0 beta soon.

[2021-01-16 00:28] #1266 closed

[2021-01-16 01:43] VincentLanglet commented on #584
This seems to be a normal behavior.
The filter are always on the page, just hidden if not used.
If a filter has a lot of choices, it lead to a lot of query, and in this case an autocomplete should be preferred in order to lazy load. I would say that this is the basic behavior of Symfony form.

[2021-01-16 01:43] #584 closed

[2021-01-16 01:44] #1160 closed

[2021-01-18 15:57] VincentLanglet commented on #1181
Is this enough @kirya-dev https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Datagrid/Pager.php#L199 ?

[2021-01-19 06:44] kirya-dev commented on #1181
When im wrote this issue latest version was 3.26.0 of this package.

Here not yet using doctrine Paginator.
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.26.0/src/Datagrid/Pager.php

You are fixed this issue in another PR some hours ago.
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1268

This issue can be closed. Thanks

[2021-01-19 08:54] #1181 closed

[2021-01-25 14:54] VincentLanglet commented on #1085
@phansys As already discussed the audit bundle is not maintained anymore.
And PHP8 is not allowed in the composer.json.

Should we deprecate the related class and let the user implements them instead ?
We could add a chapter in the documentation.

[2021-01-31 20:27] #1041 closed

[2021-02-03 12:35] #1188 closed

[2021-02-04 17:15] dmaicher opened #1296 "ModelManagerInterface and getParentMetadataForProperty()"
## Feature Request

Inside the `AbstractTypeGuesser` we are [calling](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Guesser/AbstractTypeGuesser.php#L35) `Sonata\AdminBundle\Model\ModelManagerInterface::getParentMetadataForProperty` but this method is not part of that contract.

So we are actually expecting a `Sonata\DoctrineORMAdminBundle\Model\ModelManager` for it to

[2021-02-04 17:48] franmomu commented on #1296
I created https://github.com/sonata-project/SonataAdminBundle/issues/6701 for this, but I haven't tried it yet.

[2021-02-04 22:43] VincentLanglet commented on #1296
The `getParentMetadataForProperty` method was also used in the `fixDescription` method of our builders.
@dmaicher you removed it from FormContractor, ListBuilder and ShowBuilder, but you had issues with the tests for the DatagridBuilder. With https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1297/files, it will be definitely removed from the builders.

So indeed, we just have to

[2021-02-11 06:55] malutanpetronel opened #1302 "Twig requirements"
Are you sure it needs
twig/twig: ^2.10 || ^3.0 ?

I have a 4.4 project and

whenever I do
composer require sonata-project/doctrine-orm-admin-bundle
this will
- Unconfiguring symfony/web-profiler-bundle (>=3.3): From github.com/symfony/recipes:master
I am wondering how to make both work as I need them in my project ?

An I beleive is because Twig requirements ?

[2021-02-11 07:45] greg0ire commented on #1302
Is `symfony/web-profiler-bundle` required in your `composer.json`?

[2021-02-12 18:51] DavidGarciaCat opened #1305 "PHP 8 & Symfony 5.x support"
## Feature Request

Dear Sonata team,

I want to install Sonata on a server running PHP 8. Although the Admin Bundle seems to offer this option on its current version ([3.88.0](https://packagist.org/packages/sonata-project/admin-bundle#3.88.0)), it looks like this ORM Bundle doesn't support it (not even on the [dev-master](https://packagist.org/packages/sonata-project/doctrine-orm-admin-bundle#dev

[2021-02-13 11:07] VincentLanglet commented on #1305
See https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1285 for the support for php8

For Symfony 5, it will be supported in the next major version. We're working on the 4.0 milestone.

[2021-02-18 12:44] fliespl commented on #908
I think this issue is still valid, but with different subject.

[code]

this sets last page to 0 while ajax asks for page 1 it results with isLastPage() true ("more") when first page has no results.

[2021-02-18 13:06] VincentLanglet commented on #908
This issue is one year old, and you're saying the subject is different.
I recommend you to create your own issue with all the required information. ;)

[2021-02-26 18:58] greg0ire commented on #1225
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/71ea5138cfc443a42aa0b8c692b98bee11001743/src/Datagrid/ProxyQuery.php#L360-L366

That method has a really vague name and the comment above does not help much understanding the purpose (or even make any sense :sweat_smile: ) . If you ever understand what it is about, please improve the comment :pray:

[2021-02-26 19:59] VincentLanglet commented on #1225
This method is overriding the `select` in order to only select the id of the wanted object.
And then, it remove the offset and the limite and add a "andWhere id is in the id I just found".

I should try to stop using it.

[2021-03-13 11:12] dmaicher opened #1348 "Add FieldDescriptionFactory + resolve TypeGuesser deprecations"
We need this for releasing 4.0.

See https://github.com/sonata-project/SonataAdminBundle/pull/6854

Related ODM PR: https://github.com/sonata-project/SonataDoctrineMongoDBAdminBundle/pull/531

@franmomu are you looking into this? Let me know if you need any help

[2021-03-13 11:12] dmaicher commented on #1187
@VincentLanglet is there anything left to do for this one?

[2021-03-13 11:13] VincentLanglet commented on #1348
This could be started on 3.x after the 3.92 release

[2021-03-13 11:18] VincentLanglet commented on #1187
For instance: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/src/Block/AuditBlockService.php#L31 can be private

That's all I found

[2021-03-13 11:36] #1187 closed

[2021-03-18 13:36] #1225 closed

[2021-03-19 11:36] #1296 closed

[2021-03-19 11:36] #1348 closed

[2021-03-21 10:59] franmomu opened #1360 "Fetch join queries do not work on `3.31`"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Version 3.31 (https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1319) introduced a BC break when using a fetch join query in `AdminInterface::configureQuery

[2021-03-21 11:03] Devristo opened #1361 "Paginator broken when using entity inheritance"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Since v3.31 listing entities which extend another entities is broken. The generated count query uses GROUP BY (since https://github.com/sonata-project/SonataDoctrineORMAdminB

[2021-03-21 20:49] #1085 closed

[2021-03-23 08:34] virtualize commented on #1360
I too can confirm this bug. Adding a leftJoin to a OTM or MTM relation in an admin's configureQuery does not show all the related entities of this join anymore. Only one related entity is show in admin list.

This is due the groupBy added in https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1319 https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/29aeea8ba292ac3f6

[2021-03-23 09:36] VincentLanglet commented on #1361
@greg0ire Can you help me with this error ?

[2021-03-23 09:53] VincentLanglet commented on #1360
I'm not sure you're talking about the same things.
The addGroupBy was added on purpose,

If you're using the author admin, with a leftJoin on article, author should be display only once ; this was fixed on purpose.
If you want the author to be displayed multiple times (one by article), you should create an article admin.

@franmomu Does removing the groupBy fix the issue ?
Should we let the develo

[2021-03-23 10:01] virtualize commented on #1360
@VincentLanglet thanks for your fast response. I have exactly the same use case (and problem) as franmomu already described here:  https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1354#issuecomment-801912558

[2021-03-23 10:02] VincentLanglet commented on #1360
Can you try my suggestion (Removing the groupBy and adding a distinct) ?

[2021-03-23 10:12] virtualize commented on #1360
Tried it. Yes, your suggestion does work!

[2021-03-23 12:41] VincentLanglet commented on #1361
@Devristo can you try the workaround provided here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1360#issuecomment-804768147

[2021-03-23 14:57] franmomu commented on #1360
I'll see if I can try it better later, but I think it doesn't work with several fetch-joins.

[2021-03-23 18:59] franmomu commented on #1360
Apparently, it doesn't work, I've updated the test to add a second fetch-join https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1354

![image](https://user-images.githubusercontent.com/720690/112202907-39aef780-8c12-11eb-8f2c-99030f69c497.png)

It also should show 5 elements, but there are only 3.

[2021-03-23 19:45] VincentLanglet commented on #1360
You only have three author, so it shouldn't show 5 elements. 3 is correct IMHO.
I don't understand why the count made by the Paginator is saying 5

**Can you post the queries ?**

Previously to the PR #1319, you might have 5 elements indeed. But it leads to really weird behavior.
With 80 results to displayed and 32 results per page, I had one day
- 25 results on the page 1
- 25 results on the page

[2021-03-23 19:46] VincentLanglet commented on #1360
Just another idea ; since we're using the Paginator for the count, we could maybe use the Paginator for the list results too
https://www.doctrine-project.org/projects/doctrine-orm/en/2.8/tutorials/pagination.html

[2021-03-23 20:11] VincentLanglet commented on #1360
@franmomu @virtualize can you try https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1368 ?

I think it works.

[2021-03-23 20:11] VincentLanglet commented on #1361
@Devristo can you try https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1368 ?

[2021-03-24 00:05] franmomu commented on #1360
I have 5 authors... 3 from `AuthorFixtures`, one from `EmbeddedMappingTest` and other from `ManyToOneMappingTest`.

What? I added this link in other comment: https://www.doctrine-project.org/projects/doctrine-orm/en/2.8/reference/dql-doctrine-query-language.html#joins, how so is it not documented?

[2021-03-24 00:26] VincentLanglet commented on #1360
Yes indeed, I discovered this by running the test.
If you display 256 results, you see them.

I was thinking about the Sonata documentation.
I wasn't sure the `select` part could be modified by the developer.

Anyway, can you make a try with my PR to use the Paginator ?

[2021-03-24 08:28] greg0ire commented on #1361
@VincentLanglet yes!

See https://stackoverflow.com/a/33830796/353612

TL;DR: if you have an aggregated query, you can't select non-aggregated fields, as highlighted here:

[code]

Here, we group by `b0_.id`, but what guarantee do we have that all fields from `sub` that join with `base` have the same value for `other_field`?

[2021-03-24 11:58] axzx commented on #1360
PR #1319 broke it all down :(

postgresql
[code]

[2021-03-24 12:01] VincentLanglet commented on #1360
@axzx Can you try https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1368 ?

[2021-03-24 12:32] virtualize commented on #1360
@VincentLanglet #1368 seems to work fine on our staging system. List pagination is correct, total number of results also. The joined entities are there and the number of queries is reduced as expected.
We join two one-to-many relations like this:
[code]
So far thanks and thumbs up!

[2021-03-25 07:49] Devristo commented on #1361
#1368 seems to fix my issue. Both in the reproducer as in the project I hit this initially.

Thanks a lot for maintaining these awesome bundles!

[2021-03-25 07:55] franmomu commented on #1360
Covering `QueryBuilder` I think is out of the scope of Sonata Documentation, in your previous example you're modifying the `select` part:

[code]

Apparently it works, I'll try a little bit more later.

[2021-03-25 07:58] franmomu opened #1370 "Create a test for entity inheritance"
## Feature Request

We could use the code from: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1361

[2021-03-26 13:02] jordisala1991 commented on #1305
This can be closed, on master there is support for sf5, and on 3.x for php 8.0

[2021-03-26 13:02] #1305 closed

[2021-03-28 18:58] #1360 closed

[2021-03-28 18:58] #1361 closed

[2021-03-30 00:31] VasilAnanievTH opened #1375 "EmptyFilter config entry not removed together with the class"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

The entry for the EmptyFilter in the [doctrine_orm_filter_types.xml](https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/src/Resources/config/doctrine_

[2021-03-31 10:25] VasilAnanievTH commented on #1375
Thanks for the fast resolve of the issue! I guess this bug can be closed now. :)

[2021-03-31 10:42] franmomu commented on #1375
Thanks for reporting it!

[2021-03-31 10:42] #1375 closed

[2021-04-01 22:23] phansys opened #1387 "Filter option "case_sensitive" is not being respected with MySQL"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

<details><summary>show</summary>
<p>

[code]

</p>
</details>

## Subject

Filter option "case_sensitive" is not being respected with MySQL.
IMO, we should find a way to detect the connection ty

[2021-04-02 12:16] axzx opened #1389 "An exception occurred while executing autocomplete filter"
### Environment

linux, postgresql 11.3 | 13.2

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
After upgrade to sonata-project/doctrine-orm-admin-bundle 3.32.0 I have problem with `ModelAutocompleteType`.

## Steps to reproduce

`src/Admin

[2021-04-03 17:42] VincentLanglet commented on #1387
@phansys I think we can fix it by using the `BINARY` method.
Look at https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/978#pullrequestreview-366854764

Fixing this bug could change the behavior for a lot of person. For instance, my filter are not case_sensitive because of my database, but I never thought to pass the option `case_sensitive => false`.
So I'll recommend that we intr

[2021-04-03 19:53] phansys commented on #1387
Maybe changing the name of this option (deprecating the current one) to make clearer its real behavior would be simpler. I think something like `force_case_insensitivity` reflects its purpose in a better way.
With this approach I think we could keep the current logic for all the RDBMSs.
WDYT?

[2021-04-03 20:26] VincentLanglet commented on #1387
Not sure to understand. You want to keep the behavior like this but changing the name to avoid the confusing about the fact it doesn't work on some RDBMS ?

I was thinking we could
- Add a global option in the configuration of `doctrine_orm` for the stringFilter (case_sentivite, default true)
- Fix the bug that the option doesn't for some Database, by using the binary method of https://github.com/

[2021-04-04 23:09] phansys commented on #1387
Yes, that's what I proposed.
About the possible solutions you share, I'm with the nullable option.

[2021-04-05 09:22] VincentLanglet commented on #1387
I would prefer the nullable option rather than accepting this option won't work sometimes ^^'.
Do you want to try the PR ? :)

[2021-04-05 10:54] vindert opened #1392 "nullFilter not working"
### Environment
Linux 5.11.9-arch1-1

#### Sonata packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### PHP version

[code]

## Subject

## Minimal repository with the bug

## Steps to reproduce
Use a type of NullFilter:class in the configureDataGridFilters

## Expected results
Filter to be

[2021-04-05 16:27] #1392 closed

[2021-04-08 06:14] #1370 closed

[2021-04-08 11:50] #1302 closed

[2021-04-08 19:55] #1387 closed

[2021-04-09 12:26] franmomu opened #1403 "Wrong results with `simple` pager after 3.31"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version
<details><summary>show</summary>
<p>
[code]
</p>
</details>

## Subject

Let's say we have a entity `A` with a one to one to `B` and `B` with one to many to `C`.

After `3.31`, using `simple` pag

[2021-04-09 13:30] VincentLanglet opened #1404 "Support of lower doctrine version on master branch."
The `composer.json` is allowing doctrine/orm 1, but
[code]

The composer.json also allow doctrine/persistence 1 but
[code]

What should we do about this @sonata-project/contributors ?
Imho we could restrict persistence bundle, but it could be great to keep doctrine/doctrine-bundle 1 support.

[2021-04-09 14:41] franmomu commented on #1403
Updated, I guess the `Simple` pager should be also updated according to the last changes of `Pager`.

[2021-04-10 17:56] michkinn opened #1405 "No entity manager defined for class with Doctrine Decorator : Issue and Fix proposal ;-)"
In our project, we use a class to decorate the default doctrine.orm.default_entity_manager.

[code]

in this case the method getEntityManager in FieldDescriptionFactory throw an exception because $this->registry->getManagerForClass($class); returns an instance of my class (App\Core\Doctrine\ORM\EntityManager).

it is easily fixable by replacing the "getEntityManager" function in FieldDescriptionFa

[2021-04-10 18:13] VincentLanglet commented on #1405
It's already fixed in master: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/src/FieldDescription/FieldDescriptionFactory.php#L106

Can you provide a fix in 3.x @michkinn ?

[2021-04-11 07:41] michkinn commented on #1405
It's my first PR. Hope I did it the right way

[2021-04-11 10:32] #1405 closed

[2021-04-11 17:19] #1404 closed

[2021-04-14 14:55] phansys opened #1415 "Introduce "force_case_insensitivity" option and deprecate "case_sensitive""
## RFC

Recap from https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1402#issuecomment-817048349 and https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1387#issuecomment-812917465.

I think changing the name of this option to `force_case_insensitivity` (deprecating `case_sensitive`) to make clearer its real behavior will be simpler than adding more specific che

[2021-04-14 17:34] VincentLanglet commented on #1415
Since the `case_sensitive: true` doesn't work well, I think it's a good solution.

[2021-04-16 23:35] #1415 closed

[2021-04-20 07:37] franmomu commented on #1403
friendly ping @VincentLanglet

[2021-04-20 07:57] VincentLanglet commented on #1403
Do you know how the simple pager should be updated ?

[2021-04-20 09:20] franmomu commented on #1403
Nope, since the changes introduced in `3.31` (https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1319) broke `Pager` and `SimplePager` (when using in combination with fetch-joins) and `Pager` has been fixed (https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1368), I guess something similar has to be done.

[2021-04-20 10:17] VincentLanglet commented on #1403
Since the simple pager should work with everything, I don't know if there is a way to do some manipulations in the SimplePager the same way. We're just using the doctrine Paginator in this persistence bundle with the `getDoctrineQuery` method which is in the DoctrineORMAdmin interface.

So the solution would be to change the query... but if the query is
[code]
I find natural that the `execute` met

[2021-04-24 06:42] franmomu commented on #1403
Done in https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1424

[2021-05-02 13:06] #1403 closed

[2021-05-02 19:08] moostrich opened #1434 "Bulk delete in list view not working"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

## Steps to reproduce
Create a simple Entity with an admin, create a few entities and try to delete them using the bulk action in the list view.
Note that the problem occurs

[2021-05-02 19:15] VincentLanglet commented on #1434
Which doctrine/orm version do you use @moostrich ?

[2021-05-02 19:18] moostrich commented on #1434
@VincentLanglet I pasted it below. Everything is relatively recent I think:
[code]

[2021-05-02 19:19] VincentLanglet commented on #1434
Does this https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1435 fix the issue ?

It seems like `iterate` was returning an array of array but `toIterable` is returning an array of object here.

[2021-05-02 19:25] moostrich commented on #1434
@VincentLanglet  Yes that fixes the issue. Thank you for looking into it :)

[2021-05-02 19:26] #1434 closed

[2021-05-03 09:30] VincentLanglet opened #1436 "Add an option to BooleanFilter in order to handle `null` values."
## Feature Request

I often use nullable boolean field, and I'd like to use filter on these fields.

I wrote a callbackFilter to consider `null` values as false.
[code]
I wonder if an option could be added to the BooleanFilter.

I see three use case
- You might want to treat `null` value as false.
- You might want to treat `null` value as true.
- You might want to treat `null` as a different value

[2021-05-03 09:48] VincentLanglet opened #1437 "Add Empty Filter"
## Feature Request

Last step of https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1208

[2021-05-10 14:13] alfabetagama opened #1443 "Simple pager crashes on large datasets"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

## Minimal repository with the bug
3.34

## Steps to reproduce

## Expected results
should take less than 3 ms

                                                         QUERY

[2021-05-10 14:34] alfabetagama commented on #1443
1. sonata-project/admin-bundle              3.99.0 3.99.0 The missing Symfony Admin Generator
2. I get timeout on nginx, but this is because script takes so long, because of query
3. 17.000.000
4. It takes as much on 3.31.

[2021-05-10 15:15] VincentLanglet commented on #1443
Do you use a custom query ?
I'm not sure why there is a `ROW_NUMBER()`.

The `executeQuery` has the following code
[code]
And the `getDoctrineQuery` only add some sortBy and orderBy.

So we're relying on the Paginator: https://github.com/doctrine/orm/blob/2.8.x/lib/Doctrine/ORM/Tools/Pagination/Paginator.php

Does those big query works for you if you're executing them manually ? With dql and pagin

[2021-05-10 15:56] alfabetagama commented on #1443
No custom query. It is standard admin with pager_type: 'simple'. I tested versions from 3.31 up and this behaviour was introduced in 3.34. I checked and doctrine/orm was fixed at 2.8.4 for all tested SonataDoctrineORMAdminBundle versions.

This is a major issue for us, since all admin list performances are a bit degraded, depending on dataset size, for large datasets they are not usable.

[2021-05-10 16:06] VincentLanglet commented on #1443
Yes, but if I understand correctly, it doesn't work in 3.31 and it doesn't work for 3.34 so it's not a regression.

Major issue or not, what I'm trying to understand is
- is it a regression (did it work before ?): I understand that this is not a regression.
- is it related to Sonata or Doctrine/Database: At first sight, it doesn't seem related to the sonata code directly

If the query is taking to

[2021-05-10 16:26] alfabetagama commented on #1443
It does work in 3.33 and prior.
It does not work in 3.34

It is a regression- it did work before.

[2021-05-10 17:01] VincentLanglet commented on #1443
@alfabetagama Did you try both 3.33 and 3.34 with the same other SonataAdmin version ? (3.99)
I want to be sure it's related to the 3.34 version.

Is it possible for you to try directly using commit of SonataDoctrineORM.
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commits/3.x
Especially those:
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commit/7df241b051e526dd

[2021-05-10 17:53] alfabetagama commented on #1443
I will try to dig in and find out when exactly this was introduced.

In the mean time:

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/dbcfbba63e17f767adf6fd75d9f646a838b2a755/src/Datagrid/ProxyQuery.php#L223

I tested setting $fetchJoinCollection to false.  Results in much simpler query and normal response time.

`return new Paginator($query, false);`

Maybe this could be set

[2021-05-10 18:04] VincentLanglet commented on #1443
You will lose the ability to use `fetch join` with simple pager. See https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1403
That was what we were trying to fix in https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1425

Prior to this fix, the Paginator were used for the `getCurrentResult` but not for the `countResult` ; and your issue seems like to be related t

[2021-05-10 19:53] VincentLanglet commented on #1443
@alfabetagama You're saying this query is taking too much time ?
What is the query you get in 3.33 ? I'd like to compare, since you're saying it works.

[2021-05-10 22:12] alfabetagama commented on #1443
Yes, i guess it would be best if user could decide to use fetch-join or not.

There is another related bug:

https://github.com/sonata-project/SonataAdminBundle/blob/4c8311fc44affb6cd7170e42da741de94cf1231c/src/Datagrid/Pager.php#L236

haveToPaginate() for SimplePager always returns false so Paging interface is never shown.

[2021-05-10 23:03] VincentLanglet commented on #1443
Can you try https://github.com/sonata-project/SonataAdminBundle/pull/7181 @alfabetagama ?

[2021-05-11 09:12] dmaicher commented on #1443
I can confirm both issues.

@VincentLanglet https://github.com/sonata-project/SonataAdminBundle/pull/7181 fixes the pagination issue for me.

One of my apps is also affected by the performance issues since 3.34.0.

Loading the second page in the pagination takes 27sec on 3.34.0 and only 100ms on 3.33.0 due to the more complex query. For me the table holds roughly 10 million records.

So I think op

[2021-05-11 10:20] alfabetagama commented on #1443
@VincentLanglet I would argue that for SimplePager fetch-join should be set to false by default. I believe that for large datasets using simple pager was most popular way to keep UI responsive. If this changes and is overlooked by the users QA it may cause systems to become unresponsive and ultimately crash.

[2021-05-11 15:09] VincentLanglet commented on #1443
This post gives some informations https://github.com/EasyCorp/EasyAdminBundle/issues/1506#issuecomment-278590819
Also https://github.com/doctrine/orm/issues/8278#issue-705517756 is pretty useful.

We might try to improve the performance by checking for join, having, ... like EasyAdmin ; but it seems better to make the PR directly in doctrine.

[2021-05-17 14:21] #1389 closed

[2021-05-19 14:04] #1443 closed

[2021-05-20 19:02] alistairstead opened #1450 "ModelAutocompleteType does not display the previously selected value when editing an entity"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

When using ModelAutocompleteType to allow the selection of a related entity the functionality to select the entity and then save the form persisting the data works perfectly.

[2021-05-20 19:47] willemverspyck commented on #1450
I'm not sure anymore where the problem is. After revert back to 3.34.0 it works on my dev environment, but in production I still have the same problem (with exact the same composer.lock file). I will investigate tomorrow.

[2021-05-20 21:11] franmomu commented on #1450
It doesn't look like a problem of this bundle, at least in those versions, could it be problem of `sonata-project/admin-bundle`? can you please try for example `3.99`?

[2021-05-20 21:16] franmomu commented on #1450
maybe https://github.com/sonata-project/SonataAdminBundle/pull/7196?

[2021-06-02 12:23] VincentLanglet opened #1453 "The documentation need to be updated for 4.0"
Since the method `add` has the following definition
[code]
The documentation is not up to date indeed https://sonata-project.org/bundles/doctrine-orm-admin/master/doc/reference/filter_field_definition.html

Maybe there is others things to update...

[2021-06-04 11:54] psyray commented on #1360
Hi,

@VincentLanglet @franmomu
I have the same case OTM & MTM relations between 2 entities.
I have modified the configureQuery method to reduce query like @franmomu did.
[code]

When updating to 3.31, I have a problem with sonata exporter on this query, error returned is
[code]

This problem ws introduced by #1319 PR.
If I remove the addSelects export is working fine, but no query reduction....

I

[2021-06-04 12:01] VincentLanglet commented on #1360
Did you try the last version ?

According to this issue: https://github.com/doctrine/orm/issues/5868, adding `distinct` is supposed to be enough.
What is the DQL of the query generated in the Datasource ?
Best would be to add a functionnal test to this project.

@franmomu Do you have similar issue with the export ?

[2021-06-04 12:14] psyray commented on #1360
Yes same problem with the last version.
I have already saw the doctrine issue (the first I saw, and I found by elimination that the problem is #1319).
But I don't know how I could add the `distinct` part to configureQuery, do you know how could I do ?
The query generated is this one
[code]

[2021-06-04 12:19] VincentLanglet commented on #1360
You shouldn't need to add it to the configureQuery.
It's only needed to iterate.

But it's supposed to be added in the DataSource
[code]

This is the Query generated in order to display the count on the page. I would need the query used when exporting.

You could have it by adding `dd($doctrineQuery->getDQL())` in your vendor.
Right before
[code]
in `DataSource::createIterator`.

[2021-06-04 13:14] psyray commented on #1360
Thanks for the dd tips, here it comes
[code]

[2021-06-04 13:20] psyray commented on #1360
I think I know where the problem is, in the Datasource there is a `if` which test the object instance.
It is set to `ProxyQueryInterface`, but while i'm debugging, the `$query` object is a `ProxyQuery` instance, not `ProxyQueryInterface`
![image](https://user-images.githubusercontent.com/1230954/120807626-71a6b500-c548-11eb-9a25-d606a1a6330e.png)

[2021-06-04 14:06] VincentLanglet commented on #1360
I reproduced the issue.

We might have to do something like
[code]

[2021-06-04 15:51] psyray commented on #1360
I confirm that it works with your modification :+1:

[2021-06-04 16:00] VincentLanglet commented on #1360
Can you open a PR ?

[2021-06-04 16:11] psyray commented on #1360
Do you think this modification will not have any side effects ?

[2021-06-04 16:21] VincentLanglet commented on #1360
It's pretty similar to previous code: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Exporter/DataSource.php#L42

The best would be to add a functionnal test in order to avoid another regression.

[2021-06-04 17:12] psyray commented on #1360
I can do the PR, but I can't do the test.

[2021-06-05 09:56] franmomu commented on #1360
Hmmm I haven't used the export action with these queries, but those changes looks fine.

[2021-06-05 22:32] #1453 closed

[2021-06-13 15:42] VincentLanglet opened #1460 "Stop using DoctrineTestHelper in tests."
Since Symfony 5.3, the class `DoctrineTestHelper` is deprecated.
https://github.com/symfony/symfony/pull/39696

We should stop using it. Any idea how @sonata-project/contributors ?

[2021-06-14 10:47] dmaicher commented on #1460
Should be straightforward I think to remove the usages. I can take a look in the coming days

[2021-06-16 15:52] #1460 closed

[2021-06-17 20:44] kirya-dev opened #1465 "Again too many unfixed depreactions"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

No way to escapes deprecatation notes.

## Steps to reproduce
composer update

## Expected results
No notices

## Actual results
![image](https://user-images.githubuserconten

[2021-06-21 07:16] dmaicher commented on #1465
@VincentLanglet any idea how to fix those?

[2021-06-21 07:25] VincentLanglet commented on #1465
It was easily fixed in master. But in 3.x removing the override is considered as a BC break so I would say it cannot be fixed

[2021-06-24 19:47] #1465 closed

[2021-06-30 23:55] VincentLanglet commented on #1215
With
[code]
I'm getting
[code]

So I would say it's fixed. now ; maybe because we're using propertyAccess.

[2021-06-30 23:55] #1215 closed

[2021-07-01 00:09] VincentLanglet commented on #838
I just tried and it works fine for me
![image](https://user-images.githubusercontent.com/9052536/124045963-24b3e280-da11-11eb-98ea-58f55e1971cf.png)

With the following config
![image](https://user-images.githubusercontent.com/9052536/124046065-60e74300-da11-11eb-8ff8-e4516857d806.png)

[2021-07-01 00:09] #838 closed

[2021-07-09 14:10] #1233 closed

[2021-07-14 07:02] #1437 closed

[2021-07-20 07:08] #1436 closed

[2021-07-20 10:16] jderusse opened #1482 "Cannot override final method Sonata\AdminBundle\Filter\Filter::isActive()"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

The class `\Sonata\DoctrineORMAdminBundle\Filter\Filter` extends `Sonata\AdminBundle\Filter\Filter` but in version 4.0 the methods `isActive` is final and DoctrineOrmAdminBun

[2021-07-21 09:27] VincentLanglet commented on #1482
I don't find the commit f819f4f
Are you up to date ?

Cause isActive is not overriden in dev-master @jderusse ?
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/master/src/Filter/Filter.php

[2021-07-21 09:28] VincentLanglet commented on #1482
You're using a 3.x commit hash: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/commits/3.x

[2021-07-21 11:25] jderusse commented on #1482
:facepalm: I picked the wrong commit...

[2021-07-21 11:25] #1482 closed

[2021-08-27 13:14] VincentLanglet opened #1513 "The ModelAutocompleteType is a duplicated class of ModelFilter with a different field_type."
I took a look at https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1040, I wanted to see what was missing to fix the issue ; so I looked at the difference between ModelFilter and ModelAutocompleteType.
1) The filter method is the same
2) The handle multiple method is the same, except that ModelFilter add the null check for NotEqual
3) The handle single method is the same, excep

[2021-09-07 15:35] soullivaneuh opened #1526 "CallbackFilter and ModelAutocompleteType combination is far too complicated"
I currently have a `CallbackFilter` on an admin service to set a custom database query:

[code]

This works as expected, however it renders only local html select, which cause performance issue on large databases.

This is why I need the autocomplete. However, I can not use `CallbackFilter` and `ModelAutocompleteFilter` together.

The solution is to keep the `CallbackFilter` and specify the `Model

[2021-09-07 15:41] VincentLanglet commented on #1526
Moved to SonataDoctrineORMAdminBundle

[2021-10-01 11:31] VincentLanglet commented on #1526
@soullivaneuh I'm trying to deprecate the ModelAutocompleteFilter in favor of
[code]
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1545

I assume the same issue will exists with my syntax.
Might be interesting to have a check on the `field_type` instead of the `$fieldDescription->getType()`.

I never used those filters before, I need to create a reproducer first.

[2021-10-01 12:28] VincentLanglet commented on #1526
Can you try https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1545 @soullivaneuh
I think I solved your issue.

[2021-10-11 12:39] VincentLanglet opened #1546 "Move xml config to php"
## Feature Request

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/tree/4.x/src/Resources/config

[2021-10-11 12:40] #1513 closed

[2021-10-11 12:40] #1526 closed

[2021-10-15 12:28] simonberger opened #1548 "Support doctrine/dbal 3.1"
All packages we use support `doctrine/dbal` `3.1` already or will do with the next release.
I looked through all dbal uses and there is nothing affected by the 3.0 changes or by 3.1 deprecations.

Requires: https://github.com/sonata-project/EntityAuditBundle/pull/444

[2021-10-26 09:47] #1548 closed, assigned to nobody

[2021-10-27 09:30] #1546 closed, assigned to nobody

[2021-11-01 12:34] matjaz321 opened #1568 "Non-mapped CallbackFilter datagrid field does not work with EntityType `field_type`"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Doctrine packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
- Form data grid field `CallbackFilter` does not work with option `'field_type' => Entity

[2021-11-04 12:51] willemverspyck opened #1570 "Invalid mapping type on ModelFilter with ModelAutocompleteType"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Code

After changing:

[code]

To:

[code]

My list view doesn't work anymore after filtering. The search in the filter itself works fine.

## Steps to reproduce

I go to the "list" v

[2021-11-04 13:10] VincentLanglet commented on #1570
Can you try to remove the code
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Filter/ModelFilter.php#L103-L112

The mapping_type option seems useless.

[2021-11-04 13:11] toooni commented on #1568
The issue was introduced in 4.1.0. I am not sure and didn't have the time yet to check, but it might have something to do with this: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1545/files#diff-f1cf10ef5a385627958c076574e9aefa52d2e24c254e239128812f868aca6808R92

The `class` option in `DoctrineType` seems to be null and this change might be the reason.

[2021-11-04 13:18] VincentLanglet commented on #1568
Then the two merge options calls should be updated to not override the existing value
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/a7cbabefecdf65f84af85b3c39524b40e31522c4/src/Builder/DatagridBuilder.php#L94-L110

setOption('field_options', array_merge($newValues, $field->getOption('field_options')));

might be better ; do you want to try/make a PR @toooni ?

[2021-11-04 15:52] toooni commented on #1568
@VincentLanglet done 👍 Seems to work fine now.

[2021-11-05 10:02] willemverspyck commented on #1570
That works 👍

I will make an PR to remove this code!

[2021-11-07 14:04] #1568 closed, assigned to nobody

[2021-11-08 09:28] matjaz321 commented on #1568
Thanks for fixing it so quickly

[2021-11-09 09:55] #1570 closed, assigned to nobody

[2021-11-16 14:00] willemverspyck commented on #1570
@VincentLanglet: When do you expect to create a new release for this issue and #1568?

[2021-11-16 14:05] VincentLanglet commented on #1570
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1581

[2021-11-16 14:07] willemverspyck commented on #1570
Thanks 🙏

[2021-11-18 18:09] ossinkine opened #1582 "Performance degradation with the new Paginator"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Doctrine packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

After updating this package from 3.30.0 to the latest 3.* and later to 4.2.0 we've face

[2021-11-18 18:15] ossinkine commented on #1582
@alfabetagama could you please explain what exactly you did fix? Because the old behavior is pretty quickly and I have no idea why the current behavior should be faster.

[2021-11-19 14:37] ossinkine commented on #1582
I dug deeper and realized that @alfabetagama was solving the exact same problem but apparently with a different request.
Creating the `SmartPaginatorFactory` was a good solution to me but I don't understand why such conditions are used for `setUseOutputWalkers(false);`. According to https://github.com/doctrine/orm/issues/8278#issue-705517756 it allows to have joins so the following code might be a

[2021-11-19 15:36] VincentLanglet commented on #1582
Indeed, seems like they don't check for join in EasyAdmin either https://github.com/EasyCorp/EasyAdminBundle/blob/master/src/Orm/EntityPaginator.php#L55-L63

[2021-11-24 14:53] #1582 closed, assigned to nobody

[2021-11-25 12:46] willemverspyck opened #1586 "Export not working when sorting on ManyToOne column"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

## Steps to reproduce

I have this "Admin" definitions:

[code]

When I sort on the column "cost.reference". The list overview works fine and the results are sorted. But when

[2021-11-27 12:27] VincentLanglet commented on #1586
In 3.x there was this code:
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Exporter/DataSource.php#L42-L53
Did it work before with it ?

If I understand, the o entity has a OtM with cost ?
If you do this query, with 200 entity o, and let's say 2 cost by entity o, I think you'll end up with 400 lines of exports, when you only have 200 lines in your admin.

You can look

[2021-12-03 09:18] lukepass opened #1596 "Small contribution: JsonListFilter"
## Feature Request

Hello, yesterday I needed a filter to use with a JSON field (instead of a simple Doctrine array), something like this:

[code]

I implemented it using JSON functions: https://packagist.org/packages/scienta/doctrine-json-functions

[code]

What do you think?

Thanks.

[2021-12-03 09:31] VincentLanglet commented on #1596
Moving this to SonataDoctrineORMAdminBundle.

I would say any generic/simple filter is welcomed with appropriate tests if you want to make a PR :)

[2021-12-03 09:33] jordisala1991 commented on #1596
The problem would be to add a dependency only for this filter. I would make it dev dependency and not register the filter unless it is present. Also we should take care of what dependencies we introduce... it has enough maintenance? or it will become a nightmare to maintain on the next 2 years?

Take into account that those json functions do not work on all databases. check the readme for compatib

[2021-12-03 09:39] lukepass commented on #1596
Yes, @jordisala1991 adding a new dependency could be a problem. What about adding a new part in the doc about creating a custom filter?

[2021-12-03 09:40] jordisala1991 commented on #1596
That would be awesome, docs are always welcome :)

[2021-12-06 14:21] lukepass commented on #1596
Hello @jordisala1991 I added a pull request for the doc, please let me know if it's all ok!

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/compare/4.x...lukepass:patch-1

[2021-12-10 12:30] willemverspyck commented on #1586
Sorry for my late response.

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/Exporter/DataSource.php#L42-L53
[code]
Yes, if I add this code from 3.x again and add the file "OrderByToSelectWalker" from 3.x, it works.

My mistake. It was MtO, not OtM. So you don't have 400 lines.

I was looking in the code and tried some different approaches, but when I fix the OneToMany,

[2021-12-10 12:45] VincentLanglet commented on #1586
If adding `->addSelect('cost')` solve the issue, it would be interesting to see if we cannot automatically add it in the DoctrineORMQuerySourceIterator. Or maybe better we should consider that this code is correct
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Exporter/DataSource.php#L39-L44
and the issue is in the getDoctrineQuery.

Here:
https://github.com/sonata-pro

[2021-12-10 14:58] willemverspyck commented on #1586
Thanks @VincentLanglet. If I use this code in ProxyQuery it looks like it working for MtM, MtO and OtM:

[code]

Before the query was:

SELECT DISTINCT o FROM App\Entity\Entity o INNER JOIN o.cost cost ORDER BY cost.reference ASC, o.id ASC

And with this code the query is:

SELECT DISTINCT o, cost FROM App\Entity\Entity o INNER JOIN o.cost cost ORDER BY cost.reference ASC, o.id ASC

And that works

[2021-12-10 15:41] VincentLanglet commented on #1586
It could be.

Since the getDoctrineQuery method is also used for the list. We should check
- what are the impact of the addSelect if distinct if not used. To decide if we call addSelect every time or just for the distinct case.
- if calling addSelect has no impact if the user is already using the addSelect in the configureQuery.

And we should add a unit/functional test for this issue.

[2021-12-13 13:45] VincentLanglet commented on #1596
Hi @lukepass, seems like the PR is not opened

[2021-12-13 13:49] VincentLanglet commented on #1586
Do you want to start the PR @willemverspyck ?

[2021-12-13 13:58] lukepass commented on #1596
Sorry I opened it :)

[2021-12-14 07:44] willemverspyck commented on #1586
Yes, I will create a PR for this 👍

[2021-12-21 08:32] michealmouner opened #1604 "Batch actions not working when using Symfony Ulid as identifier for entity"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]
</p>
</details>

#### PHP version

[code]

## Subject

**context:** batch delete action for entity with  `Symfony\Component\Uid\Ulid` as identifier
[code]

## Minimal repository with the bug

reference line from latest version see

[2021-12-21 08:39] VincentLanglet commented on #1604
I would say we cannot consider this as a bug since UUID (and certainly Ulid) are not considered as supported currently by SonataAdmin. See https://github.com/sonata-project/SonataAdminBundle/issues/7327.

But any contribution is welcomed.

[2022-01-11 13:28] eerison opened #1613 "Review List field definition doc"
Review the [List field definition](https://docs.sonata-project.org/projects/SonataDoctrineMongoDBAdminBundle/en/4.x/reference/list_field_definition) and see what can be moved to SonataAdminBundle.

Note: Look if make sense move part of this doc to https://docs.sonata-project.org/projects/SonataAdminBundle/en/4.x/reference/action_list/#customizing-the-fields-displayed-on-the-list-page or to other p

[2022-01-11 13:35] VincentLanglet commented on #1613
To me:
- https://docs.sonata-project.org/projects/SonataDoctrineORMAdminBundle/en/4.x/reference/list_field_definition/#example is useless because we have https://docs.sonata-project.org/projects/SonataAdminBundle/en/4.x/reference/action_list/#customizing-the-fields-displayed-on-the-list-page
- https://docs.sonata-project.org/projects/SonataDoctrineORMAdminBundle/en/4.x/reference/list_field_definit

[2022-01-11 15:15] eerison commented on #1613
Yes @VincentLanglet I will do ;)

[2022-01-14 11:57] mssimi opened #1619 "EnumFilter"
## EnumFilter

I have not found any working filter with PHP 8.1 native enums, are there any plans to implement it?

[2022-01-14 15:38] core23 commented on #1619
Are you planing to implement this? AFAIK there are no active plans from the "team" to do this.

[2022-01-15 11:03] #1596 closed, assigned to nobody

[2022-01-21 09:06] #1613 closed, assigned to nobody

[2022-02-12 13:31] VincentLanglet commented on #1586
HI @willemverspyck, did you have time to take a look ?

[2022-02-12 17:04] VincentLanglet commented on #1604
I'll close this in favor of https://github.com/sonata-project/SonataAdminBundle/issues/7327

[2022-02-12 17:04] #1604 closed, assigned to nobody

[2022-02-28 16:03] willemverspyck commented on #1586
Hi @VincentLanglet,

Sorry for the delay!

I've changed the subject as it's ManyToOne, not ManyToMany.

We talked about maybe fixing it in the https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Datagrid/ProxyQuery.php#L174 file, but the problem is created in the https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Exporter/DataSource.php#L39-L44 wher

[2022-03-01 16:04] #1586 closed, assigned to nobody

[2022-04-23 17:59] franmomu commented on #1619
Not sure if an `EnumFilter` is needed, I guess using a `ChoiceFilter` with `EnumType` as `field_type` should work.

[2022-05-31 14:42] Hanmac opened #1662 "Simplier Config Flag to make Filter use DateTimePicker"
## Feature Request

If you want to use DateTimePicker for the DataGridFilter then the `field_type` parameter needs to be set manually to the correct type for the Filter:

[code]

i want to make it easier like:
[code]

Maybe even more easy to add a config param in the module config that sets the default picker value for all date(time) filter.

[2022-05-31 15:02] VincentLanglet commented on #1662
Currently the default value is set here:

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/1f8791e08852365aeb2849fc10d878a121970e01/src/Filter/DateTimeRangeFilter.php#L36
This could be conditional bases on a config indeed.

The config option would be passed in the construct of
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/1f8791e08852365aeb2849fc10d878a1219

[2022-05-31 15:58] Hanmac commented on #1662
Some Question about understanding:

The real Filter from this Bundle `sonata.admin.orm.filter.type.datetime_range` does point to `sonata.form.type.datetime_range`. This is the part which i currently Alter with my PR.

but the AbstactDateFilter also points to `sonata.admin.form.filter.type.datetime_range` in the RenderSettings which also does point to `sonata.form.type.datetime_range`. Shouldn't th

[2022-05-31 16:39] VincentLanglet commented on #1662
The AbstractDateFilter is in SonataDoctrineORM and not SonataAdmin
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Filter/AbstractDateFilter.php

So I don't see why it should be in the sonata admin.

There are indeed some logic in the AbstractDateFilter
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Filter/AbstractDateFilter.php#L103-L120

W

[2022-05-31 17:27] Hanmac commented on #1662
i meant it for DateTimeRangeFilter, AbstractDateFilter sets this:
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/4.x/src/Filter/AbstractDateFilter.php#L108

which sets the field_type there:
https://github.com/sonata-project/SonataAdminBundle/blob/4.x/src/Form/Type/Filter/DateTimeRangeType.php#L41

should in these classes also a "picker" parameter added?

[2022-05-31 18:03] VincentLanglet commented on #1662
Indeed then, it could be a feature for SonataAdmin.

But then we have to remove the override here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/1f8791e08852365aeb2849fc10d878a121970e01/src/Filter/DateTimeRangeFilter.php#L36.

The first step might be to provide a PR here to add some unit tests in order to check the field type. Then remove the override, and see if the tests st

[2022-06-01 07:35] Hanmac commented on #1662
the problem i currently have is this:
https://github.com/sonata-project/SonataAdminBundle/blob/4.x/src/Filter/Filter.php#L176

i wanted to make
[code]

turn into this:
[code]

with isPicker just be `getOption('picker', false)` but it doesn't work because the DefaultOptions are called before the options are set.

i will think about something, but for this i probably would need to alter admin-bundle

[2022-06-01 07:48] VincentLanglet commented on #1662
I don't like the `picker` option.

asking to put `picker => true` instead of `field_type => DateTimeRangePickerType::class` doesn't help at all:
- It hide the logic
- It still requiert to pass an option

I will be more ok to a sonataAdmin config option.
Then you pass this option to all those type https://github.com/sonata-project/SonataAdminBundle/blob/4.x/src/Form/Type/Filter/DateTimeRangeType.ph

[2022-06-01 09:10] Hanmac commented on #1662
i added an MR for SonataAdminBundle to add picker as option to the Form Filter

[2022-06-01 09:17] VincentLanglet commented on #1662
I added a comment. I don't think you understood me because I was talking about a config option and not a form option.

And I think you'll need first a PR here to remove all the defaultoptions https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/1f8791e08852365aeb2849fc10d878a121970e01/src/Filter/DateTimeRangeFilter.php#L34-L37 in order to not override the one provided by SonataAdmin

[2022-06-01 09:43] Hanmac commented on #1662
When i remove the Default Options, then the  problem is this part:
https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/9ccf050648625de7055a28251f04ab487afe3fea/src/Filter/AbstractDateFilter.php#L103-L120

with setting the `field_type` from the options. So the users can overwrite it.
i'm currently strugging to make it fall back correctly without removing the option for the User.

[2022-06-22 14:42] Hanmac opened #1665 "Filter Services should be puplic so they wouldn't get removed?"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

## Minimal repository with the bug

## Steps to reproduce

[code]

## Expected results

Filter does appear

## Actual results

[code]

also this works, but that isn't the poi

[2022-07-05 19:43] VincentLanglet commented on #1665
That's not a different service, but the way to use this filter.

The same way you're doing `$formBuilder->add('foo', TextType::class)`.

[2022-07-05 19:43] #1665 closed, assigned to nobody

[2022-07-06 12:43] Hanmac commented on #1665
there are a few problems i see with the service being unable to decorate or being unable to have two services with different parameters use the same class

would be better if the filter services would use their classes names as alias

[2022-07-12 19:34] VincentLanglet commented on #1662
This will be easier after https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1669

[2022-07-21 15:10] ggabrovski opened #1675 "Advanced filter is not working in 4.3.1"
After update from 4.3.0 to 4.3.1 the advanced filter option is not working.

[2022-07-21 18:32] davidromani commented on #1675
@ggabrovski check this https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1674

[2022-07-21 18:53] VincentLanglet commented on #1675
Can you try 4.3.2 ?

[2022-07-21 19:53] VincentLanglet commented on #1662
This should be easier now https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1669 is merged if you wanna try again @Hanmac

[2022-07-21 20:40] ggabrovski commented on #1675
ModelFilter and DateRangeFilter are working, but other like StringFilter or NumberFilter not show the advanced filter options.

<img width="1175" alt="Screenshot 2022-07-21 at 23 28 56" src="https://user-images.githubusercontent.com/24413349/180310325-8bf3bc19-298e-440e-91bb-4ffa929141fe.png">

[2022-07-21 20:48] VincentLanglet commented on #1675
Oh, we only fixed DateFilters.
Can you try https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1677 ?

[2022-07-21 21:09] ggabrovski commented on #1675
Thanks @VincentLanglet  I test it and is working as expected.

[2022-07-22 06:50] #1675 closed, assigned to nobody

[2022-07-22 11:54] Hanmac commented on #1662
the only thing that makes it a bit tricky would be that now the default values are removed from SonataAdminBundle (or that part is getting deprecated) it wouldn't be possible for SonataAdminBundle config to set stuff in SonataOrmAdminBundle

so if you want to do it via config for all date time filters, it can only be done nicely as config for SonataOrmAdminBundle

[2022-07-22 12:00] VincentLanglet commented on #1662
That's normal.
Things related to SonataOrmAdminBundle should be configured in the SonataOrmAdminBundle config.

Filters are persistenceBundle specific, so you may want different behavior for different persistence bundles.

[2022-10-20 19:19] mpoiriert opened #1699 "Batch delete of over 20 entities fail"
### Environment

#### Sonata packages

sonata-project/doctrine-orm-admin-bundle: 4.8.0

## Subject

When using the delete batch feature of the admin with more than 20 entities it cause a "“Detached entity xxx cannot be removed".

This is cause by the clear of the entity manager after 20 iteration.

The code in 4.8.0 as change to rely on "execute" instead of "iterator". The iterator is loading one

[2022-10-26 12:07] Cenadros opened #1701 "Unable to export admin list when sorted by a translated property"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

In #1639 a fix was included in `Sonata\DoctrineORMAdminBundle\Exporter\DataSource.php` for exporting when sorting on ManyToOne column that breaks exporting when a column is f

[2022-10-26 14:11] VincentLanglet commented on #1701
Hi @Cenadros, can you give us the working and/or non-working query ?

cc @willemverspyck, does it fully works for you ?

[2022-10-27 07:22] willemverspyck commented on #1701
Hi @VincentLanglet, @Cenadros,

For me the export still works when sorting on ManyToOne column. Maybe you can send minimal repository with the bug or some example of your entities?

[2022-10-27 08:52] Cenadros commented on #1701
Hi @VincentLanglet @willemverspyck ,

The working query is:
[code]
And the non-working query is:
[code]
An example of the entities would be this:

Contact:
<details><summary>show</summary>
<p>

[code]

</p>
</details>

ContactTranslation:
<details><summary>show</summary>
<p>

[code]

</p>
</details>

ContactAdmin:
<details><summary>show</summary>
<p>

[code]

</p>
</details>

The moment there is a

[2022-10-27 09:01] VincentLanglet commented on #1701
So the only diff is the that that `s_translations` was added to the select.

What is weird is the fact it's opposed to the issue https://github.com/sonata-project/SonataDoctrineORMAdminBundle/issues/1586 where
[code]
wasn't working and
[code]
was.

[2022-10-27 13:07] willemverspyck commented on #1701
I think I understand the problem. For me it currently still works with:

[code]

And "cost" is still added to the select, but @Cenadros uses the field "name" in "configureListFields". And I have "cost.amount" there for example. This part of code checks for a dot in the field name (I couldn't find any other way that moment):

https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/b0c2c

[2022-10-27 13:21] Cenadros commented on #1701
@willemverspyck I've made the dump and `$sortBy` has the value of `s_translations.name`.

Also tried to set `translations.name` instead of `name` and removing the `sort_field_mapping` and `sort_parent_association_mappings` and got the following error when trying to access de admin list:
[code]

[2022-10-27 15:17] jordisala1991 commented on #1701
The difference is that translations is OneToMany probably?

[2022-11-08 15:28] #1699 closed, assigned to nobody

[2022-11-09 08:02] jordisala1991 commented on #1701
I will try to cover all cases here: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/pull/1705

to see where does it fail.

[2022-11-14 09:19] jeroendesloovere opened #1706 "Neither the property "sortparameters" nor one of the methods "sortparameters()", "getsortparameters()"/"issortparameters()"/"hassortparameters()" or "__call()" exist and have public access in class "Sonata\DoctrineORMAdminBundle\Model\ModelManager"."
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

We upgrade our sonata v3 (symfony 3) project to sonata v4 and symfony 5 and now see the following error:

Neither the property "sortparameters" nor one of the methods "sortpa

[2022-11-14 09:20] #1706 closed, assigned to nobody

[2022-11-14 09:20] jeroendesloovere commented on #1706
Duplicate from https://github.com/sonata-project/SonataAdminBundle/issues/7973